<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/sections/a2.jpg') ; background-size: cover">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container text-center">
                <h1 style="font-weight: bold ; margin-top:1px ; margin-bottom:1px">Fallos <br>Destacados</h1>
                <h4>Nuestro equipo de trabajo</h4>
            </div>
        </div>
    </div>
    <div class="blog-5" style="background-image: url('./assets/img/sections/lawc.jpg') ; background-size: cover ; margin-top: -31px">
        <div class="container">

            <div class="content-center">
                <div class="title text-center">
                    <hr style="color: black;">
                    <h1 style="font-weight:bold; color:white">CASOS DE EXITO</h1>
                    <hr style="color: black">
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="card" data-background="image"
                            style="background-image: url('assets/img/sections/not1.jpg')">
                            <div class="card-body">
                                <h6 class="card-category">
                                    <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                <a>
                                    <h4 class="card-title">La Justicia de Córdoba tiene que expedirse sobre casos de
                                        vientre
                                        subrogado</h4>
                                </a>
                                <p class="card-description">
                                    Un pedido se presentó en la ciudad de Córdoba y otro en Bell Ville. Solicitan
                                    autorización
                                    para que dos mujeres externas a ambas parejas sean las gestantes de los bebés.
                                </p>
                                <a href="https://www.perfil.com/noticias/cordoba/la-justicia-de-cordoba-tiene-que-expedirse-sobre-casos-de-vientre-subrogado.phtml"
                                    target="_blank">
                                    <h6 class="card-footer">
                                        Ver Más
                                    </h6>
                                </a>
                                <div class="card-footer text-left">
                                    <!-- <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card" data-background="image"
                            style="background-image: url('assets/img/sections/not2.jpg')">
                            <div class="card-body">
                                <h6 class="card-category">
                                    <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                <a>
                                    <h4 class="card-title">La maternidad subrogada recibió su primer aval de la Justicia
                                        en
                                        Córdoba</h4>
                                </a>
                                <p class="card-description">
                                    Gabriel Tavip, juez de Familia, homologó el acuerdo de un matrimonio heterosexual
                                    con una
                                    mujer con parentesco político. El bebé será inscripto como hijo de los cónyuges.
                                </p>
                                <a href="https://www.lavoz.com.ar/ciudadanos/la-maternidad-subrogada-recibio-su-primer-aval-de-la-justicia-en-cordoba"
                                    target="_blank">
                                    <h6 class="card-footer">
                                        Ver Más
                                    </h6>
                                </a>
                                <div class="card-footer text-left">
                                    <!-- <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card" data-background="image"
                            style="background-image: url('assets/img/sections/not4.jpg')">
                            <div class="card-body">
                                <h6 class="card-category">
                                    <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                <a>
                                    <h4 class="card-title">Autorizan en Córdoba el primer caso de maternidad subrogada
                                    </h4>
                                </a>
                                <p class="card-description">
                                    El juez de Familia Eugenio Tavip explicó a Cadena 3 que el bebé podrá ser inscripto
                                    como
                                    propio de la pareja. La mujer que lo gestará es cuñada de la solicitante.
                                </p>
                                <a href="https://www.infobae.com/sociedad/2017/11/24/autorizaron-el-primer-caso-de-maternidad-subrogada-antes-del-embarazo"
                                    target="_blank">
                                    <h6 class="card-footer">
                                        Ver Más
                                    </h6>
                                </a>
                                <div class="card-footer text-left">
                                    <!-- <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" data-background="image"
                            style="background-image: url('assets/img/sections/not3(2).jpg')">
                            <div class="card-body">
                                <h6 class="card-category">
                                    <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                <a>
                                    <h4 class="card-title">Autorizaron el primer caso de maternidad subrogada antes del
                                        embarazo
                                    </h4>
                                </a>
                                <p class="card-description">
                                    Es el primer acuerdo de un matrimonio...
                                </p>
                                <a href="https://www.cadena3.com/noticias/sociedad/autorizan-cordoba-primer-caso-maternidad-subrogada_26435"
                                    target="_blank">
                                    <h6 class="card-footer">
                                        Ver Más
                                    </h6>
                                </a><br><br>
                                <div class="card-footer text-left">
                                    <!-- <div class="author">
                                    <a href="#pablo">
                                       <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                       <span>Rodrigo Giordano Lerena</span>
                                    </a>
                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" data-background="image"
                            style="background-image: url('assets/img/sections/not5.jpg')">
                            <div class="card-body">
                                <h6 class="card-category">
                                    <i class="fa fa-newspaper-o"></i> Audio-Nota</h6>
                                <a>
                                    <h3 class="card-title">La mesa del cafe</h3>
                                </a>
                                <p class="card-description">
                                    "Estamos en condiciones de garantizar que no hay plata de por medio", dijo Lerena.
                                </p>
                                <a href="https://www.cadena3.com/audios/sociedad/estamos-condiciones-garantizar-que-hay-plata-por-medio-dijo-lerena_12050"
                                    target="_blank">
                                    <h6 class="card-footer">
                                        Ver Más
                                    </h6>
                                </a>
                                <div class="card-footer">
                                    <!-- <div class="author">
                                    <a href="#pablo">
                                       <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                       <span>Ayo Michael</span>
                                    </a>
                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" data-background="image"
                            style="background-image: url('assets/img/sections/not6.jpg')">
                            <div class="card-body">
                                <h6 class="card-category">
                                    <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                <a>
                                    <h4 class="card-title">Maternidad subrogada</h4>
                                </a>
                                <p class="card-description">
                                    Por primera vez en el país, una pareja heterosexual de Córdoba consiguió la
                                    autorización
                                    judicial para gestar su...

                                </p>
                                <a href="https://radiomitre.cienradios.com/autorizan-en-cordoba-el-primer-caso-de-maternidad-subrogada"
                                    target="_blank">
                                    <h6 class="card-footer">
                                        Ver Más
                                    </h6>
                                </a><br><br>
                                <div class="card-footer text-left">
                                    <!-- <div class="author">
                                        <a href="#pablo">
                                           <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                           <span>Rodrigo Giordano Lerena</span>
                                        </a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" data-background="image"
                            style="background-image: url('assets/img/sections/not8.jpg')">
                            <div class="card-body">
                                <h6 class="card-category">
                                    <i class="fa fa-newspaper-o"></i> Audio-Nota</h6>
                                <a href="#pablo">
                                    <h3 class="card-title">¿Gestación por sustitución en la Argentina?</h3>
                                </a>
                                <p class="card-description">
                                    ¿Está permitida?...
                                </p>
                                <a href="http://turello.com.ar/multimedia/gestacion-sustitucion-argentina/"
                                    target="_blank">
                                    <h6 class="card-footer">
                                        Ver Más
                                    </h6>
                                </a>
                                <div class="card-footer">
                                    <!-- <div class="author">
                                            <a href="#pablo">
                                               <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                               <span>Ayo Michael</span>
                                            </a>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card" data-background="image"
                            style="background-image: url('assets/img/sections/not7.jpg')">
                            <div class="card-body">
                                <h6 class="card-category">
                                    <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                <a>
                                    <h3 class="card-title">Inédito: autorizaron maternidad subrogada antes del
                                        tratamiento</h3>
                                </a>
                                <p class="card-description">
                                    La justicia cordobesa homologó un acuerdo...
                                </p>
                                <a href="https://eldoce.tv/sociedad/inedito-autorizaron-la-maternidad-subrogada-antes-de-iniciar-el-tratamiento-cordoba-justicia-alquiler-vientres-juez-familia-gabriel-tavip_54911"
                                    target="_blank">
                                    <h6 class="card-footer">
                                        Ver Más
                                    </h6>
                                </a>
                                <div class="card-footer">
                                    <!-- <div class="author">
                                                <a href="#pablo">
                                                   <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                                   <span>Ayo Michael</span>
                                                </a>
                                            </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="separator" style="background: #252422;margin-top: 2px"> </div> -->
    <footer class="footer footer-black">
        <div class="container">
            <div class="row">
                <div class="credits mr-auto">
                    <div class="copyright">
                        <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos
                            reservados -
                            GL Asociados</a><br>
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica
                                y
                                Privacidad</a></small>

                    </div>
                </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Desarrollado por <i class="fa fa-eye heart" style="color: white"></i> DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>x