<div class="wrapper">
           <div class="page-header">
                <div class="page-header-image rellax-header" data-rellax-speed="-6"
                    style="background-image: url('assets/img/sections/a2.jpg') ;">
                </div>
                <div class="filter"></div>
                <div class="content-center">
        <div class="container text-center">
            <h1 style="font-weight: bold ; margin-top:1px ; margin-bottom:1px">NOVEDADES</h1>
            <h3 style="font-weight: bold ; margin-top:1px ; margin-bottom:1px">GL & Asociados</h3>
         </div>
    </div>
</div>
<div class="blog-5">
    <div class="container">
        <h3 class="title text-center" style="margin-bottom: 0% ; font-weight: BOLD">CASOS DE EXITO</h3>
        <hr style="color: black">



                    <div class="row">
                        <div class="col-md-7">
                            <div class="card" data-background="image" style="background-image: url('assets/img/sections/not1.jpg')">
                                <div class="card-body">
                                        <h6 class="card-category">
                                                <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                    <a>
                                        <h4 class="card-title">La Justicia de Córdoba tiene que expedirse sobre casos de vientre
                                            subrogado</h4>
                                    </a>
                                    <p class="card-description">
                                        Un pedido se presentó en la ciudad de Córdoba y otro en Bell Ville. Solicitan autorización
                                        para que dos mujeres externas a ambas parejas sean las gestantes de los bebés.
                                    </p>
                                    <a href="https://www.perfil.com/noticias/cordoba/la-justicia-de-cordoba-tiene-que-expedirse-sobre-casos-de-vientre-subrogado.phtml"
                                        target="_blank">
                                        <h6 class="card-footer">
                                            Ver Más
                                        </h6>
                                    </a>
                                    <div class="card-footer text-left">
                                        <!-- <div class="author">
                                            <a href="#pablo">
                                               <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                               <span>Rodrigo Giordano Lerena</span>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card" data-background="image" style="background-image: url('assets/img/sections/not2.jpg')">
                                <div class="card-body">
                                        <h6 class="card-category">
                                                <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                    <a>
                                        <h4 class="card-title">La maternidad subrogada recibió su primer aval de la Justicia en
                                            Córdoba</h4>
                                    </a>
                                    <p class="card-description">
                                        Gabriel Tavip, juez de Familia, homologó el acuerdo de un matrimonio heterosexual con una
                                        mujer con parentesco político. El bebé será inscripto como hijo de los cónyuges.
                                    </p>
                                    <a href="https://www.lavoz.com.ar/ciudadanos/la-maternidad-subrogada-recibio-su-primer-aval-de-la-justicia-en-cordoba"
                                        target="_blank">
                                        <h6 class="card-footer">
                                            Ver Más
                                        </h6>
                                    </a>
                                    <div class="card-footer text-left">
                                        <!-- <div class="author">
                                            <a href="#pablo">
                                               <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                               <span>Rodrigo Giordano Lerena</span>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card" data-background="image" style="background-image: url('assets/img/sections/not4.jpg')">
                                <div class="card-body">
                                        <h6 class="card-category">
                                                <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                    <a>
                                        <h4 class="card-title">Autorizan en Córdoba el primer caso de maternidad subrogada</h4>
                                    </a>
                                    <p class="card-description">
                                        El juez de Familia Eugenio Tavip explicó a Cadena 3 que el bebé podrá ser inscripto como
                                        propio de la pareja. La mujer que lo gestará es cuñada de la solicitante.
                                    </p>
                                    <a href="https://www.infobae.com/sociedad/2017/11/24/autorizaron-el-primer-caso-de-maternidad-subrogada-antes-del-embarazo"
                                        target="_blank">
                                        <h6 class="card-footer">
                                            Ver Más
                                        </h6>
                                    </a>
                                    <div class="card-footer text-left">
                                        <!-- <div class="author">
                                            <a href="#pablo">
                                               <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                               <span>Rodrigo Giordano Lerena</span>
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" data-background="image"
                                style="background-image: url('assets/img/sections/not3(2).jpg')">
                                <div class="card-body">
                                        <h6 class="card-category">
                                                <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                    <a >
                                        <h4 class="card-title">Autorizaron el primer caso de maternidad subrogada antes del embarazo
                                        </h4>
                                    </a>
                                    <p class="card-description">
                                        Es el primer acuerdo de un matrimonio...
                                    </p>
                                    <a href="https://www.cadena3.com/noticias/sociedad/autorizan-cordoba-primer-caso-maternidad-subrogada_26435"
                                        target="_blank">
                                        <h6 class="card-footer">
                                            Ver Más
                                        </h6>
                                    </a><br><br>
                                    <div class="card-footer text-left">
                                        <!-- <div class="author">
                                                <a href="#pablo">
                                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                                   <span>Rodrigo Giordano Lerena</span>
                                                </a>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" data-background="image" style="background-image: url('assets/img/sections/not5.jpg')">
                                <div class="card-body">
                                    <h6 class="card-category">
                                        <i class="fa fa-newspaper-o"></i> Audio-Nota</h6>
                                    <a>
                                        <h3 class="card-title">La mesa del cafe</h3>
                                    </a>
                                    <p class="card-description">
                                        "Estamos en condiciones de garantizar que no hay plata de por medio", dijo Lerena.
                                    </p>
                                    <a href="https://www.cadena3.com/audios/sociedad/estamos-condiciones-garantizar-que-hay-plata-por-medio-dijo-lerena_12050"
                                        target="_blank">
                                        <h6 class="card-footer">
                                            Ver Más
                                        </h6>
                                    </a>
                                    <div class="card-footer">
                                        <!-- <div class="author">
                                                <a href="#pablo">
                                                   <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                                   <span>Ayo Michael</span>
                                                </a>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" data-background="image" style="background-image: url('assets/img/sections/not6.jpg')">
                                <div class="card-body">
                                        <h6 class="card-category">
                                                <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                    <a>
                                        <h4 class="card-title">Maternidad subrogada</h4>
                                    </a>
                                    <p class="card-description">
                                        Por primera vez en el país, una pareja heterosexual de Córdoba consiguió la autorización
                                        judicial para gestar su...
            
                                    </p>
                                    <a href="https://radiomitre.cienradios.com/autorizan-en-cordoba-el-primer-caso-de-maternidad-subrogada"
                                        target="_blank">
                                        <h6 class="card-footer">
                                            Ver Más
                                        </h6>
                                    </a><br><br>
                                    <div class="card-footer text-left">
                                        <!-- <div class="author">
                                                    <a href="#pablo">
                                                       <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                                       <span>Rodrigo Giordano Lerena</span>
                                                    </a>
                                                </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card" data-background="image" style="background-image: url('assets/img/sections/not5.jpg')">
                                <div class="card-body">
                                    <h6 class="card-category">
                                        <i class="fa fa-newspaper-o"></i> Audio-Nota</h6>
                                    <a href="#pablo">
                                        <h3 class="card-title">¿Gestación por sustitución en la Argentina?</h3>
                                    </a>
                                    <p class="card-description">
                                        ¿Está permitida?...
                                    </p>
                                    <a href="http://turello.com.ar/multimedia/gestacion-sustitucion-argentina/" target="_blank">
                                        <h6 class="card-footer">
                                            Ver Más
                                        </h6>
                                    </a>
                                    <div class="card-footer">
                                        <!-- <div class="author">
                                                        <a href="#pablo">
                                                           <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                                           <span>Ayo Michael</span>
                                                        </a>
                                                    </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card" data-background="image" style="background-image: url('assets/img/sections/not7.jpg')">
                                <div class="card-body">
                                    <h6 class="card-category">
                                        <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                                    <a>
                                        <h3 class="card-title">Inédito: autorizaron maternidad subrogada antes del tratamiento</h3>
                                    </a>
                                    <p class="card-description">
                                        La justicia cordobesa homologó un acuerdo...
                                    </p>
                                    <a href="https://eldoce.tv/sociedad/inedito-autorizaron-la-maternidad-subrogada-antes-de-iniciar-el-tratamiento-cordoba-justicia-alquiler-vientres-juez-familia-gabriel-tavip_54911"
                                        target="_blank">
                                        <h6 class="card-footer">
                                            Ver Más
                                        </h6>
                                    </a>
                                    <div class="card-footer">
                                        <!-- <div class="author">
                                                            <a href="#pablo">
                                                               <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                                               <span>Ayo Michael</span>
                                                            </a>
                                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
         


        
        <div class="row">
            <div class="col-md-7">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/noti1.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                        <a>
                            <h4 class="card-title">Tarjetas de crédito: confirman multa por no registrar la baja y luego reclamar una deuda indebida.
                                </h4>
                        </a>
                        <p class="card-description">
                                La Justicia rechazó el recurso presentado por una cadena de supermercados emisora de tarjetas de crédito, tras una denuncia.
                        </p>
                        <a href="https://www.iprofesional.com/legales/291699-consumidor-denuncia-ley-Tarjetas-de-credito-confirman-multa-por-no-registrar-la-baja"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a>
                        <div class="card-footer text-left"> 
                            <!-- <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not2.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                        <a>
                            <h4 class="card-title">La Corte Suprema declaró en otros once casos la inconstitucionalidad del cobro de Ganancias a jubilados</h4>
                        </a>
                        <p class="card-description">
                                En el acuerdo de este martes, la Corte Suprema de Justicia de la Nación falló en una serie de causas en las que se discutía la constitucionalidad
                        </p>
                        <a href="La Corte Suprema declaró en otros once casos la inconstitucionalidad del cobro de Ganancias a jubilados"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a>
                        <div class="card-footer text-left">
                            <!-- <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/noti4.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                        <a>
                            <h4 class="card-title">Prepaga debió fundar el cargo que hacía a la socia desafiliada</h4>
                        </a>
                        <p class="card-description">
                                La Sala III de la Cámara Nacional de Apelaciones en lo Civil y Comercial Federal consideró arbitraria la rescisión del contrato
                        </p>
                        <a href="https://comercioyjusticia.info/blog/justicia/prepaga-debio-fundar-el-cargo-que-hacia-a-la-socia-desafiliada/"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a>
                        <div class="card-footer text-left">
                            <!-- <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" data-background="image"
                    style="background-image: url('assets/img/sections/justicia6.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                        <a>
                            <h4 class="card-title">Se repara la incapacidad psíquica pese a que no precisó enfermedad
                            </h4>
                        </a>
                        <p class="card-description">
                                Por mayoría, la Cámara expuso que no compartía el criterio restrictivo al que adhirió el a quo..
                        </p>
                        <a href="https://comercioyjusticia.info/blog/justicia/se-repara-la-incapacidad-psiquica-pese-a-que-no-preciso-enfermedad/"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a><br><br>
                        <div class="card-footer text-left">
                            <!-- <div class="author">
                                    <a href="#pablo">
                                       <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                       <span>Rodrigo Giordano Lerena</span>
                                    </a>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not5.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Audio-Nota</h6>
                        <a>
                            <h3 class="card-title">Sanción de $90 mil por impedir que el niño vea a su padre
                                </h3>
                        </a>
                        <p class="card-description">
                                El Juzgado de Familia de Primera Nominación de la ciudad de Córdoba..
                        </p>
                        <a href="https://comercioyjusticia.info/blog/justicia/sancion-de-90-mil-por-impedir-que-el-nino-vea-a-su-padre"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a>
                        <div class="card-footer">
                            <!-- <div class="author">
                                    <a href="#pablo">
                                       <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                       <span>Ayo Michael</span>
                                    </a>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not6.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                        <a>
                            <h4 class="card-title">Prepaga deberá cubrir una cirugía de feminización y análisis previos</h4>
                        </a>
                        <p class="card-description">
                                La alzada confirmó un fallo dictado en septiembre del año pasado. El voto mayoritario estimó que la práctica requerida por la actora no es..

                        </p>
                        <a href="https://comercioyjusticia.info/blog/justicia/prepaga-debera-cubrir-una-cirugia-de-feminizacion-y-analisis-previos/"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a><br><br>
                        <div class="card-footer text-left">
                            <!-- <div class="author">
                                        <a href="#pablo">
                                           <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                           <span>Rodrigo Giordano Lerena</span>
                                        </a>
                                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not7.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Audio-Nota</h6>
                        <a href="#pablo">
                            <h3 class="card-title">La ART podrá recuperar lo pagado del Fondo Fiduciario</h3>
                        </a>
                        <p class="card-description">
                                Las patologías por las cuales se condenó a la aseguradora de riesgos no están previstas en la nómina..
                        </p>
                        <a href="https://comercioyjusticia.info/blog/justicia/la-art-podra-recuperar-lo-pagado-del-fondo-fiduciario/" target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a>
                        <div class="card-footer">
                            <!-- <div class="author">
                                            <a href="#pablo">
                                               <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                               <span>Ayo Michael</span>
                                            </a>
                                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not4.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                        <a>
                            <h3 class="card-title">Cuándo el rechazo de una quiebra no resulta válido</h3>
                        </a>
                        <p class="card-description">
                                La Sala D de la Cámara Nacional de Apelaciones en lo Comercial sostuvo que no resulta válido para rechazar una petición de quiebra el no haber iniciado y luego agotado la ejecución individual de la sentencia dictada en sede laboral.
                        </p>
                        <a href="https://comercioyjusticia.info/blog/justicia/cuando-el-rechazo-de-una-quiebra-no-resulta-valido"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a>
                        <div class="card-footer">
                            <!-- <div class="author">
                                                <a href="#pablo">
                                                   <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..." class="avatar img-raised">
                                                   <span>Ayo Michael</span>
                                                </a>
                                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not9.jpg')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                        <a>
                            <h4 class="card-title">La quiebra no altera el funcionamiento del ente disuelto</h4>
                        </a>
                        <p class="card-description">
                                La Sala C de la Cámara Nacional de Apelaciones en lo Comercial destacó que la quiebra no altera el funcionamiento orgánico ..
                        </p>
                        <a href="https://comercioyjusticia.info/blog/justicia/la-quiebra-no-altera-el-funcionamiento-del-ente-disuelto/"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a>
                        <div class="card-footer text-left">
                            <!-- <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not10.png')">
                    <div class="card-body">
                        <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Nota-Escrita</h6>
                        <a>
                            <h4 class="card-title">La distinción entre marcas y designaciones comerciales
                                </h4>
                        </a>
                        <p class="card-description">
                                La Sala III de la Cámara Nacional de Apelaciones en lo Civil y Comercial Federal concluyó que la distinción entre las marcas y las designaciones comerciales hace que el derecho al nombre comercial ..
                        </p>
                        <a href="https://comercioyjusticia.info/blog/justicia/la-distincion-entre-marcas-y-designaciones-comerciales/"
                            target="_blank">
                            <h6 class="card-footer">
                                Ver Más
                            </h6>
                        </a>
                        <div class="card-footer text-left">
                            <!-- <div class="author">
                                    <a href="#pablo">
                                       <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                       <span>Rodrigo Giordano Lerena</span>
                                    </a>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer class="footer footer-black">
        <div class="container">
            <div class="row">
                <div class="credits mr-auto">
                    <div class="copyright">
                        <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos
                            reservados -
                            GL Asociados</a><br>
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica
                                y
                                Privacidad</a></small>

                    </div>
                </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>