<div class="wrapper">
        <div class="page-header page-header-xs">
            <div class="page-header-image rellax-header" data-rellax-speed="-8"
                style="background-image: url('assets/img/sections/a9.jpg') ;">
            </div>
            <div class="filter"></div>
            <div class="content-center">
                <div class="motto">
                    <!-- <h1 class="title-uppercase text-center">Derecho Civil</h1> -->
                    <!-- <a href="javascrip: void(0);"><h2 class="title-uppercase text-center">Derecho Civil</h2></a>
                        <h3 class="text-center">Make your mark with a new design.</h3> -->
                    <br />
                    <!-- <a href="#pablo" class="btn btn-warning btn-round btn-lg">
                            <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
                        </a> -->
                </div>
            </div>
            <!-- <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-container">
                                <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                                    <i class="now-ui-icons text_align-left"></i> Read Article
                                </a>
                                <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                                    <i class="fa fa-google"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    </div>
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="text-center">
                  -->
            <!-- <a href="javascrip: void(0);">
                <h1 class="title">Derecho Civil</h1>
            </a>
        </div> -->
        </div>
        <div class="features-30" style="padding:0px">
            <div class="container col-md-12">
                <div class="row" style="margin-left:-27px ; margin-right: -27px">
    
                    <div class="col-md-6 ml-auto" style="
                    overflow: scroll !important;
                    overflow: hidden;
                    max-height: 28.6em; /* (Number of lines you want visible) * (line-height) */
                    line-height: 1.2em;
                    text-align:justify;
                    ">
                      <div class="article-content">
                        <h2 class="title-uppercase">Derecho Familiar</h2>
                        <hr style="height: 10px; background-color: #683a12;width: 100%;">
                        <p>
                            El derecho de familia o también llamado (derecho familiar) es el conjunto de normas e instituciones
                            jurídicas que regulan las relaciones personales y patrimoniales de los miembros que integran la familia
                        </p>
            
                        <p>
                            Tradicionalmente se ha considerado que el derecho de familia es una rama del derecho civil; sin embargo,
                            puesto que este último se estructura sobre la base de la persona individual y dado que habitualmente se
                            ha estimado que las relaciones de familia no pueden quedar regidas solo por criterios de interés
                            individual y la autonomía de la voluntad, en la actualidad gran parte de la doctrina considera que es
                            una rama autónoma del derecho, con principios propios. Sin embargo, para considerarse autónoma, es
                            necesario que se den tres supuestos: la independencia doctrinal, la independencia legislativa y la
                            independencia judicial.
                        </p>
             
                        <p>
                            Los actos de familia son habitualmente solemnes, o sea, requieren de ciertas formalidades (por ejemplo,
                            el matrimonio, la adopción, etc.); y comúnmente no pueden ser objeto de modalidades (por ejemplo, no
                            pueden estar sujetas a plazo). Así lo determinó la Sala de Derecho Constitucional y Social Permanente de
                            la Corte Suprema de Justicia en la sentencia recaída en el Proceso de Amparo Nº 4167-2011-Callao. Más
                            información en el siguiente enlace. El siguiente es un esquema del contenido más típico del derecho de
                            familia
                        </p>
 
            
                        <!-- <h6 class="title-uppercase">Características</h6> -->
                        <h6>Características:</h6>
                        <p>Contenido moral o ético: esta rama jurídica habitualmente posee normas sin sanción o con sanción reducida y
                        obligaciones (o más propiamente deberes) fundamentalmente incoercibles. Por ello no es posible obtener el
                        cumplimiento forzado de la mayoría de las obligaciones de familia, quedando entregadas al sentido ético o a
                        la costumbre (una importante excepción es el derecho de alimentos).</p>
                        <p>Regula situaciones o estados personales: es una disciplina de estados civiles (de cónyuge, separado, divorciado, padre, madre, hijo, etc.) que se imponen erga omnes (respecto de todos). Además, dichos estados pueden originar relaciones patrimoniales (derechos familiares patrimoniales), pero con modalidades particulares (diversas de aquellas del derecho civil), pues son consecuencia de tales estados y, por tanto, inseparables de ellos.</p>
                        <p>Predominio del interés social sobre el individual: esta rama posee un claro predominio del interés social (o familiar) en sustitución del interés individual. Ello genera importantes consecuencias</p>
                     
                <p>        El Derecho de las Familias comprende el conjunto de normas e instituciones jurídicas que regulan las relaciones personales y patrimoniales de los miembros que integran la familia, como así también las formas de dirimir los problemas que puedan suscitarse. 
                        Desde GIORDANO LERENA & ASOCIADOS ofrecemos el conjunto de conocimientos técnico-jurídicos y experiencia para asesorarlos en todas las situaciones familiares incluyendo sucesiones, testamentos y litigios de familia.
                        Nuestro equipo de profesionales pondera el interés del cliente y desarrolla un plan integro que incluye tanto aspectos legales como métodos de mediación y negociación, para tratar las cuestiones familiares y personales, brindando así un servicio íntegro, confiable y de calidad.</p>
                        <!-- <p><strong>Get in the arena</strong>, show up, do your thing and don’t be afraid to get your ass kicked a little bit.</p>
                                    <p>Who you are will always trump who you think people want you to be.</p>
                                    <p><strong>You can’t control if someone loves you back.</strong> Love them anyway.</p> -->
            
                        <!-- <h6><strong>¿Que ocurre en Argentina?</strong></h6>
                        <p>El Derecho Comercial argentino, al tratarse de un Estado federal, está regulado primordialmente por
                            las normas de cada provincia. Por lo que sólo se hará referencia a la faz nacional del mismo, es decir,
                            a las normas que involucran a la Administración pública nacional centralizada y descentralizada, a los
                            entes autárquicos, a las sociedad y empresas del Estado, a las sociedades anónimas con participación
                            estatal mayoritaria y a los entes de derecho público no estatales del ámbito federal.
                        </p> -->
                    </div>
    
                        <hr class="blockquote">
                        <p style="text-align: center">¿Qué averiguar más sobre derecho Familiar? Contactame.</p>
                        <blockquote class="blockquote">
                            <div class="container">
                                    <div class="row justify-content-center">
                                            <div class="media">
                                        <a class="pull-left" href="#paper-kit">
                                            <div class="avatar big-avatar">
                                                <img class="media-object" alt="Lucas" src="./assets/img/faces/Lucas.png">
                                            </div>
                                        </a>
                                        <div class="col-md-12 ml-auto mr-auto">
                                            <h6 class="media-heading">Lucas Antonio Farías</h6>
                                            <!-- <div class="pull-right">
                                                <a href="#paper-kit" class="btn btn-default btn-round "> <i class="fa fa-reply"></i>
                                                    Follow</a>
                                            </div> -->
                                            <p> <a href="mailto:lfarias@giordanolerena.com" style="color:black"> E-Mail: lfarias@giordanolerena.com</a></p>
    
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
    
                    </div>
    
                    <div class="page-header page-header-xs col-md-5"
                    style="background-color:rgba(255, 255, 255, 0) ;background-image: url('assets/img/sections/fa2.jpg') ; background-size:cover ; position:unset">          
                   

                </div>
                    <!-- <div class="col-md-5 ml-auto mr-auto" style=" background: url('assets/img/sections/ad3.jpg'); background-size: cover"> -->
                    <!-- <div class="container">
                        <img src="assets/img/sections/a1.jpg" 
                            style="background-size:cover ;height: 450px ;width: 500px !important;padding-top: 7%" />
                    </div>  -->
                    <!-- <blockquote class="blockquote">
                            <p>"En tanto que en la vida privada los derechos y obligaciones se crean casi siempre por vía
                                contractual, la Administración debe, en interés del servicio público, poder imponer,
                                unilateralmente, sin necesidad de previo pronunciamiento judicial, obligaciones a los
                                particulares,
                                y su decisión debe ser tenida como jurídicamente válida en tanto que el interesado no
                                promueva su
                                anulación por el juez"</p>
                            <footer>- Prosper Weil <cite title="Source Title"> Derecho Administrativo 1986, Civitas, pág.
                                    50color.</cite></footer>
                        </blockquote> -->
                    <!-- </div> -->
    
                </div>
            </div>
    
        </div>
    
    
    
        <footer class="footer footer-black">
            <div class="container">
                <div class="row">
                    <div class="credits mr-auto">
                        <div class="copyright">
                            <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos
                                reservados -
                                GL Asociados</a><br>
                            <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica
                                    y
                                    Privacidad</a></small>
    
                        </div>
                    </div>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            © 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
                        </span>
                    </div>
                </div>
            </div>
        </footer>