<div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image rellax-header" data-rellax-speed="-8"
                style="background-image: url('assets/img/sections/a6.jpg') ;">
            </div>
            <div class="filter"></div>
            <div class="content-center">
                <div class="motto">
                    <!-- <h1 class="title-uppercase text-center">Derecho Constitucional</h1> -->
                    <!-- <a href="javascrip: void(0);"><h2 class="title-uppercase text-center">Derecho Constitucional</h2></a>
                    <h3 class="text-center">Make your mark with a new design.</h3> -->
                    <br />
                    <!-- <a href="#pablo" class="btn btn-warning btn-round btn-lg">
                        <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
                    </a> -->
                </div>
            </div>
        </div>
        <!-- <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="button-container">
                            <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                                <i class="now-ui-icons text_align-left"></i> Read Article
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div> -->
    </div>
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="text-center">
                <!-- <span class="label label-warning main-tag">Trending</span>  -->
                <a href="javascrip: void(0);">
                    <h1 class="title">Derecho Constitucional</h1>
                </a>
    
                <!-- <h6 class="title-uppercase">October 10, 2016</h6>  -->
            </div>
        </div>
        <div class="col-md-8 ml-auto mr-auto">
            <div class="article-content">
                <h6 class="title-uppercase">¿Que es el Derecho Constitucional?</h6>
                <p>
                    El Derecho Constitucional, es aquella rama o porción del derecho, que tiene un enfoque prioritariamente
                    desde “lo publico”, es decir esta especialidad del derecho, se encarga básicamente de las distintas
                    relaciones jurídicas o problemáticas, que surgen de la actividad del Estado y especialmente sus
                    funciones administrativas.
                </p>
    
                <p>
                    En otras palabras, el Derecho Constitucional es aquel que comprende la organización y el funcionamiento
                    de toda forma de administración pública. Por extensión, suele ser también aplicable a la actuación
                    materialmente administrativa de los demás poderes del Estado y de todos esos entes del sector público. Y
                    todo ello, desde la doble perspectiva de procurar la eficacia de las Administraciones pero también
                    garantizar los derechos de los particulares en sus relaciones con ellas.
                </p>
                <a>
                    <div class="card" data-radius="none"
                        style="background-image: url('./assets/img/sections/ad4.jpg');"></div>
                    <p class="image-thumb text-center">Despcrion de foto opcional</p>
                </a>
                <blockquote class="blockquote">
                    <p>"En tanto que en la vida privada los derechos y obligaciones se crean casi siempre por vía
                        contractual, la Administración debe, en interés del servicio público, poder imponer,
                        unilateralmente, sin necesidad de previo pronunciamiento judicial, obligaciones a los particulares,
                        y su decisión debe ser tenida como jurídicamente válida en tanto que el interesado no promueva su
                        anulación por el juez"</p>
                    <footer>- Prosper Weil <cite title="Source Title"> Derecho Constitucional 1986, Civitas, pág.
                            50color.</cite></footer>
                </blockquote>
                <p>
                    Tradicionalmente, se ha entendido que la administración es una subfunción del desarrollo humano,
                    encargada del buen funcionamiento de los servicios públicos cuya función elemental es la de mantener el
                    bienestar, la seguridad y de entregar a la población diversas labores de diversa índole (económicas,
                    educativas, sociales, entre otros).
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <a href="javascrip: void(0);">
                            <div class="card" data-radius="none"
                                style="background-image: url('./assets/img/sections/ad2.jpg');">
                            </div> <!-- end card -->
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="javascrip: void(0);">
                            <div class="card" data-radius="none"
                                style="background-image: url('./assets/img/sections/ad3.jpg');"></div>
                        </a>
                    </div>
                </div>
                <p>
    
                </p>
                <!-- <h6 class="title-uppercase">Características</h6> -->
                <h6>Generalmente, se caracteriza por ser:</h6>
                <p><strong>Común:</strong> tiene esta característica en todas las actividades (municipales, tributarias,
                    etc.) y sus principios son aplicables a diversas materias.</p>
                <p><strong>Autónomo: </strong> tiene sus propios principios generales.</p>
                <p><strong>Local:</strong> derecho de naturaleza local, por la organización política de cada país.</p>
                <p><strong>Exorbitante:</strong> excede la órbita del derecho privado, por lo que en donde hay una
                    organización estatal, hay Derecho Constitucional.</p>
                <!-- <p><strong>Get in the arena</strong>, show up, do your thing and don’t be afraid to get your ass kicked a little bit.</p>
                        <p>Who you are will always trump who you think people want you to be.</p>
                        <p><strong>You can’t control if someone loves you back.</strong> Love them anyway.</p> -->
    
                <h6><strong>¿Que ocurre en Argentina?</strong></h6>
                <p>El Derecho Constitucional argentino, al tratarse de un Estado federal, está regulado primordialmente por
                    las normas de cada provincia. Por lo que sólo se hará referencia a la faz nacional del mismo, es decir,
                    a las normas que involucran a la Administración pública nacional centralizada y descentralizada, a los
                    entes autárquicos, a las sociedad y empresas del Estado, a las sociedades anónimas con participación
                    estatal mayoritaria y a los entes de derecho público no estatales del ámbito federal.
                </p>
            </div>
            <blockquote class="blockquote">
            <p>¿Qué averiguar más sobre Derecho Constitucional<a class="link-danger"> Ver Mas.</a></p>
            </blockquote>
        </div> 
    </div>   
    <footer class="footer footer-black">
        <div class="container">
            <div class="row">
                    <div class="credits mr-auto">
                        <div class="copyright">
                       <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy;  2019 - Todos los derechos reservados - GL Asociados</a><br   >
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y Privacidad</a></small>
    
                    </div>
                    </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer>