<div class="wrapper">
    <div class="page-header page-header-xs">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/sections/a11(2).jpg') ;">
        </div>
        <div class="filter"></div>
        <div class="content-center">
            <div class="motto">
                <!-- <h1 class="title-uppercase text-center">Derecho Civil</h1> -->
                <!-- <a href="javascrip: void(0);"><h2 class="title-uppercase text-center">Derecho Civil</h2></a>
                    <h3 class="text-center">Make your mark with a new design.</h3> -->
                <br />
                <!-- <a href="#pablo" class="btn btn-warning btn-round btn-lg">
                        <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
                    </a> -->
            </div>
        </div> 
    </div>
    <div class="features-30" style="padding:0px">
        <div class="container col-md-12">
            <div class="row">

                <div class="col-md-6 ml-auto" style="
                overflow: scroll !important;
                overflow: hidden;
                max-height: 28.6em; /* (Number of lines you want visible) * (line-height) */
                line-height: 1.2em;
                text-align:justify;
                ">
                    <div class="article-content">
                        <h3 class="title-uppercase">Recupero de carteras en mora</h3>
                        <hr style="height: 10px; background-color: #683a12;width: 100%;">
                  
                        <div class="article-content">
                        
                                    
                                <h4 class="title-uppercase text-center"> SERVICIOS DE GESTIÓN</h4>                
                                <br>       
                                <p style="font-weight: bold">
                                        •   AMBITO MUNICIPAL
                                        <br>
                                        •   PROVINCIAL
                                        <br>
                                        •   NACIONAL CIVIL 
                                         <br>
                                         •     COMERCIAL
                                         <br>
                                      
                                       
                                </p>
                                <br>
                              <p>• Cobranzas
                                    •  Ratificación y confirmación de los datos personales del deudor
                                    • Notificaciones y seguimiento personal y telefónico
                                    •Análisis de la situación patrimonial (verificación de solvencia)
                                    • Informes estadísticos determinantes de las condiciones generales de pago
                                    • Proyecciones sobre situación económica, financiera y patrimonial
                                    
                                    •    Gestión extrajudicial
                                    •  Gestión judicial
                                    
                                    •  Cobranzas
                                    • Localizaciones
                                    • Notificaciones
                                    •  Informes confidenciales
                                    • Ejecuciones judiciales
                                    • Subastas
                                    •  Inhibiciones
                            </p>
                          
                        </div>  
                        <!-- <a>
                        <div class="card" data-radius="none"
                            style="background-image: url('./assets/img/sections/ad4.jpg');"></div>
                        <p class="image-thumb text-center">Despcrion de foto opcional</p>
                    </a> --> 

                    </div>

                    <hr class="blockquote">
                    <p style="text-align: center">¿Querés averiguar más sobre Recupero de carteras en mora? Contactáme.</p>
                    <blockquote class="blockquote">
                            <div class="container">
                                    <div class="row justify-content-center">
                                    <div class="media">
                                        <a class="pull-left" href="#paper-kit">
                                            <div class="avatar big-avatar">
                                                <img class="media-object" alt="Lucas" src="./assets/img/faces/rodri.png">
                                            </div>
                                        </a>
                                        <div class="col-md-12 ml-auto mr-auto">
                                            <h6 class="media-heading">Rodrigo Gastón <br> Giordano Lerena</h6>
                                            <!-- <div class="pull-right">
                                                <a href="#paper-kit" class="btn btn-default btn-round "> <i class="fa fa-reply"></i>
                                                    Follow</a>
                                            </div> -->
                                            <p> <a href="mailto:rodrigo@giordanolerena.com" style="color:black"> E-Mail: rodrigo@giordanolerena.com</a></p>
    
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
    

                </div>
                <div class="page-header page-header-xs col-md-5"
                style="background-color:rgba(255, 255, 255, 0) ;background-image: url('assets/img/sections/ad3.jpg') ; background-size:cover ; position:unset">          
               

            </div>
                <!-- <div class="col-md-5 ml-auto mr-auto" style=" background: url('assets/img/sections/ad3.jpg'); background-size: cover"> -->
                <!-- <div class="container">
                    <img src="assets/img/sections/a1.jpg" 
                        style="background-size:cover ;height: 450px ;width: 500px !important;padding-top: 7%" />
                </div>  -->
                <!-- <blockquote class="blockquote">
                        <p>"En tanto que en la vida privada los derechos y obligaciones se crean casi siempre por vía
                            contractual, la Administración debe, en interés del servicio público, poder imponer,
                            unilateralmente, sin necesidad de previo pronunciamiento judicial, obligaciones a los
                            particulares,
                            y su decisión debe ser tenida como jurídicamente válida en tanto que el interesado no
                            promueva su
                            anulación por el juez"</p>
                        <footer>- Prosper Weil <cite title="Source Title"> Derecho Administrativo 1986, Civitas, pág.
                                50color.</cite></footer>
                    </blockquote> -->
                <!-- </div> -->

            </div>
        </div>

    </div>



    <footer class="footer footer-black">
        <div class="container">
            <div class="row">
                <div class="credits mr-auto">
                    <div class="copyright">
                        <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos
                            reservados -
                            GL Asociados</a><br>
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica
                                y
                                Privacidad</a></small>

                    </div>
                </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer>