<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/sections/a9.jpg') ;">
        </div>
        <div class="filter"></div>
        <div class="content-center">
            <div class="motto">
                <!-- <h1 class="title-uppercase text-center">Derecho Comercial</h1> -->
                <!-- <a href="javascrip: void(0);"><h2 class="title-uppercase text-center">Derecho Comercial</h2></a>
                    <h3 class="text-center">Make your mark with a new design.</h3> -->
                <br />
                <!-- <a href="#pablo" class="btn btn-warning btn-round btn-lg">
                        <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
                    </a> -->
            </div>
        </div>
    </div>
    <!-- <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="button-container">
                            <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                                <i class="now-ui-icons text_align-left"></i> Read Article
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div> -->
</div>
<div class="row" style="background: rgb(233, 233, 182)">
        <div class="col-md-10 ml-auto mr-auto">
        <div class="text-center">
            <!-- <span class="label label-warning main-tag">Trending</span>  -->
            <a href="javascrip: void(0);">
                <h1 class="title">Derecho Comercial</h1>
            </a>

            <!-- <h6 class="title-uppercase">October 10, 2016</h6>  -->
        </div>
    </div>
    <div class="col-md-8 ml-auto mr-auto">
        <div class="article-content">
            <h6 class="title-uppercase">¿Que es el Derecho Comercial?</h6>
            <p>
                Es el conjunto de normas relativas a los comerciantes en el ejercicio de su profesión, a los actos de
                comercio legalmente calificados como tales y a las relaciones jurídicas derivadas de la realización de
                estos; en términos amplios, es la rama del Derecho que regula el ejercicio del comercio. Uno de sus
                fundamentos es el comercio libre.
            </p>

            <p>
                En la mayoría de las legislaciones, una relación se considera comercial, y por tanto sujeta al Derecho
                mercantil, si es un acto de comercio El derecho mercantil actual se refiere a estos actos, de los que lo
                son intrínsecamente, aunque en muchos casos el sujeto que los realiza no tenga la calidad de comerciante
                (sistema objetivo); sin perjuicio de ello, existen ordenamientos jurídicos en que el sistema es
                subjetivo, en base a la empresa, regulando tanto su estatuto jurídico, como el ejercicio de la actividad
                económica, en sus relaciones contractuales que mantienen los empresarios entre ellos y con terceros.
            </p>
            <a>
                <div class="card" data-radius="none" style="background-image: url('./assets/img/sections/co1.jpg');">
                </div>
                <p class="image-thumb text-center">Despcrion de foto opcional</p>
            </a>
            <blockquote class="blockquote">
                <p>"En tanto que en la vida privada los derechos y obligaciones se crean casi siempre por vía
                    contractual, la Administración debe, en interés del servicio público, poder imponer,
                    unilateralmente, sin necesidad de previo pronunciamiento judicial, obligaciones a los particulares,
                    y su decisión debe ser tenida como jurídicamente válida en tanto que el interesado no promueva su
                    anulación por el juez"</p>
                <footer>- Prosper Weil <cite title="Source Title"> Derecho Administrativo 1986, Civitas, pág.
                        50color.</cite></footer>
            </blockquote>
            <p>
                El Derecho comercial es una rama especial del Derecho privado, mientras el Derecho civil se erige como
                Derecho común.

                El Derecho comercial tiene dos objetos de regulación, llamados Criterio Objetivo y Criterio Subjetivo.
                El Objetivo hace referencia al comercio o actos de comercio, el Subjetivo es el que se refiere a la
                persona que lleva la calidad de comerciante.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <a href="javascrip: void(0);">
                        <div class="card" data-radius="none"
                            style="background-image: url('./assets/img/sections/co2.jpg');">
                        </div> <!-- end card -->
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="javascrip: void(0);">
                        <div class="card" data-radius="none"
                            style="background-image: url('./assets/img/sections/co3.jpg');"></div>
                    </a>
                </div>
            </div>

            <!-- <h6 class="title-uppercase">Características</h6> -->
            <h6>Fuentes:</h6>
            La fuente por excelencia del derecho comercial es la legislación mercantil. Una ley tiene carácter mercantil
            no sólo cuando el legislador se lo ha dado explícitamente, sino también cuando recae sobre una materia que
            por la propia ley, o por otra diversa, ha sido declarada comercial.
            <!-- <p><strong>Get in the arena</strong>, show up, do your thing and don’t be afraid to get your ass kicked a little bit.</p>
                        <p>Who you are will always trump who you think people want you to be.</p>
                        <p><strong>You can’t control if someone loves you back.</strong> Love them anyway.</p> -->

            <!-- <h6><strong>¿Que ocurre en Argentina?</strong></h6>
            <p>El Derecho Comercial argentino, al tratarse de un Estado federal, está regulado primordialmente por
                las normas de cada provincia. Por lo que sólo se hará referencia a la faz nacional del mismo, es decir,
                a las normas que involucran a la Administración pública nacional centralizada y descentralizada, a los
                entes autárquicos, a las sociedad y empresas del Estado, a las sociedades anónimas con participación
                estatal mayoritaria y a los entes de derecho público no estatales del ámbito federal.
            </p> -->
        </div>
        <blockquote class="blockquote">
            <p>¿Qué averiguar más sobre Derecho Civil? <a
                    href=" https://www.gestiopolis.com/derecho-mercantil-o-comercial/" target="_blank"
                    class="link-danger"> Ver Mas.</a></p>
        </blockquote>
    </div>
</div>
<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <div class="credits mr-auto">
                <div class="copyright">
                    <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos reservados -
                        GL Asociados</a><br>
                    <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y
                            Privacidad</a></small>

                </div>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
                </span>
            </div>
        </div>
    </div>
</footer>