<div class="wrapper">
	<div class="page-header section-dark" style="background-image: url('./assets/img/bg2.jpg')">
		<div class="content-center">
			<div class="container">
				<div class="title-brand">
					<div class="angular-logo">
						<img src="./assets/img/logo.png" alt=""
							style="box-shadow: none !important;width: 20% !important">
					</div>
					<h2 class="presentation-title" style="font-family: 'Germania One', cursive;">Giordano Lerena</h2>
					<h1 class="presentation-title text-center" style="font-family: 'Germania One', cursive">& Asociados </h1>
				</div>
				 

				<h2 class="presentation-subtitle text-center"  style="font-family: 'Germania One', cursive;">Estudio jurídico integral </h2>
			</div>
		</div>
	</div>
	

	<!--PIE DE PAGINA-->
	<footer class="footer footer-black ">
		<div class="container">
			<div class="row">
				<div class="credits mr-auto">
					<div class="copyright">
						<a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos
							reservados -
							GL Asociados</a><br>
						<small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica
								y
								Privacidad</a></small>

					</div>
				</div>
				<div class="credits ml-auto">
					<span class="copyright">
						© 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
					</span>
				</div>
			</div>
		</div>
	</footer>
</div>