<div class="wrapper">
	<div class="page-header section-dark" style="background-image: url('./assets/img/bg2.jpg')">
		<div class="content-center">
			<div class="container">
				<div class="title-brand">
					<div class="angular-logo">
						<img src="./assets/img/angular2-logo.png" alt=""
							style="box-shadow: none !important;width: 16% !important">
					</div>
					<h1 class="presentation-title" style="font-family: UnifrakturMaguntia;font-size:65px !important">GiordanoLerena </h1>
					<h1 class="presentation-title text-center" style="font-family: UnifrakturMaguntia, cursive;font-size:65px !important"  >& Asociados </h1>
				</div>

				<h2 class="presentation-subtitle text-center"  style="font-family: UnifrakturMaguntia, cursive">Estudio jurídico integral </h2>
			</div>
		</div>
	</div>
	<!-- <h6 class="category category-absolute">Designed and coded by
			<a href="https://www.creative-tim.com" target="_blank">
				<img src="./assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
			</a>
		</h6> -->
	<!-- </div>

	<div class="page-header section-dark" style="background-image: url('./assets/img/bg2.jpg')">
		<div class="filter"></div>
		<div class="content-center">
			<div class="container">
				<div class="title-brand">
						<div class="angular-logo">
					<img src="src/assets/img/logo.png" alt="" style="box-shadow: none !important;width: 16% !important">
							</div>
					<h1 class="presentation-title" style="font-size:40px">GiordanoLerena </h1>
					<h1 class="presentation-title text-center" style="font-size:22px">& Asociados </h1>

				</div>

				<h2 class="presentation-subtitle text-center"> Estudio jurídico integral </h2>
			</div>
			</div>
		</div> -->



	<!-- <div class="header-1" style="padding-top: 0%">
						
						<div class="page-header" style="background-image: url('./assets/img/sections/justicia1.jpg')">
							<div class="filter"></div>
							<div class="content-center">
								<div class="container">
									<div class="row">
										<div class="col-md-6  ml-auto" style="margin-top:1% !important; margin-bottom: 0%;">
											<h2 class="title">GiordanoLerena & Asociados</h2>
											<h5 class="description">Estudio jurídico Estudio jurídico Estudio jurídico Estudio jurídico Estudio jurídico Estudio jurídico Estudio jurídico Estudio jurídico </h5>
										
											<hr> 
											<a href="https://www.youtube.com/watch?v=VDBnjRcNr6o&feature=youtu.be" target="_blank" class="btn btn-pinterest">
												<i class="nc-cart-simple"></i> Ver en youtube
											</a>
											 

										</div>
										<div class="col-md-5" style="margin-top:1% ;margin-bottom:1%">
												<div class="iframe-container">
													<iframe src="https://www.youtube.com/embed/VDBnjRcNr6o" frameborder="0" allowfullscreen
														height="180"></iframe>
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
</div> -->

	<!--PIE DE PAGINA-->
	<footer class="footer footer-black ">
		<div class="container">
			<div class="row">
				<div class="credits mr-auto">
					<div class="copyright">
						<a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos
							reservados -
							GL Asociados</a><br>
						<small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica
								y
								Privacidad</a></small>

					</div>
				</div>
				<div class="credits ml-auto">
					<span class="copyright">
						© 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
					</span>
				</div>
			</div>
		</div>
	</footer>
</div>