 

<div class="page-header"
	style="background-image: url('assets/img/sections/the-how-photographer.jpg');background-size: cover">
	<div class="filter"></div>
	<div class="content-center">
		<div class="container text-center">
			<h2 class="title text-center" style="font-family: 'Oswald', sans-serif;">Nuestros Valores</h2>
			<div class="angular-logo">
					<img src="./assets/img/logo.png" alt="" style="width: 15% !important">
				</div>   
				<div class="separator"></div>
				<div class="col-md-6 ml-auto mr-auto text-center">
			<p style="font-size: 14px">En estudio GIORDANO LERENA &amp; ASOCIADOS somos un Estudio Jurídico Integral, que conjuga
					eficazmente el conocimiento de las normas jurídicas con el enfoque particularizado de las
					necesidades individuales de sus clientes.</p>
					</div>
<div class="col-md-8 ml-auto mr-auto">
			<div class="nav-tabs-navigation">
				<div class="nav-tabs-wrapper">
					<ngb-tabset [justify]="'center'">
						<ngb-tab title="Misión" style="font-weight: bold ; color:white !important ;  font-family: 'Oswald', sans-serif;">
							<ng-template ngbTabContent>
								<div class="tab-pane active" id="vision" role="tabpanel">
									<p style="color:white">Brindamos una cobertura jurídica integral que contempla todos los puntos de interés del
											mismo, asesorando a nuestros clientes en aquellas áreas del derecho que se
											relacionen con su actividad.
											Tratamos de conseguir una visión global de la situación del cliente.
											Estudiamos exhaustivamente todos los problemas y le ayudamos a optar por el mejor camino,
											previendo los posibles efectos derivados de cada decisión, para evitar que un problema se
											transforme en otro más tarde.
											Vamos más allá de la solución a un problema determinado.</p>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab title="Visión" style="font-weight: bold ;font-weight: bold ; color:white !important ;  font-family: 'Oswald', sans-serif;">
							<ng-template ngbTabContent>
								<p style="color:white">Respetamos principios y valores que definen nuestra filosofía de vida y se reflejan en nuestro
										quehacer laboral cotidiano:
										Eficiencia,
										Honestidad,
										Actualización Profesional Permanente,
										Vocación de Servicio, y
										Trabajo en Equipo.</p>
							</ng-template>
						</ngb-tab>

					</ngb-tabset>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

<footer class="footer footer-black">
	<div class="container">
		<div class="row">
			<div class="credits mr-auto">
				<div class="copyright">
					<a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos reservados -
						GL Asociados</a><br>
					<small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y
							Privacidad</a></small>

				</div>
			</div>
			<div class="credits ml-auto">
				<span class="copyright">
					© 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
				</span>
			</div>
		</div>
	</div>
</footer>