<!-- <div class="wrapper">

    <div class="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 ml-auto mr-auto text-center">
                        <h2 class="discover-title"><small>See latest artwork</small></h2>
                            <form role="search" class="form-inline">
                                <div class="form-group">
                                  <input type="text" class="form-control border-input" placeholder="or search for something">&nbsp;&nbsp;
                                </div>
                                <button type="submit" class="btn btn-just-icon"><i class="fa fa-search"></i></button>
                            </form>
                    </div>
                </div>
                <div class="row items-row">
                    <div class="col-md-3 col-sm-4 ml-auto">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/pavel-kosov.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Jane Doe</span>
												<div class="meta">Drawn on 23 Nov</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-4">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/por7o.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/faces/erik-lucatero-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Tom Hanks</span>
												<div class="meta">Drawn on 23 Jan</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-3 col-sm-4 mr-auto">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/vincent-versluis.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/chet_faker_2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Chet Faker</span>
												<div class="meta">Drawn on 20 Jan</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
				</div> -->
<!-- 				
                <div class="row items-row">
                    <div class="col-md-4 col-sm-6 ml-auto">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/ilya-yakover.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Tom Hank</span>
												<div class="meta">Drawn on 23 Jan</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-3 col-sm-6">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/miguel-perales.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Tom Banks</span>
												<div class="meta">Drawn on 23 Jan</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-3 mr-auto d-sm-block">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/neill-kumar.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/flume.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Flume</span>
												<div class="meta">Drawn on 4 Aug</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
                </div>
                <div class="row items-row">
                    <div class="col-md-2 col-sm-6 ml-auto">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/john-towner.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Tom Hanks</span>
												<div class="meta">Drawn on 23 Jan</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/leonard-cotte.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/placeholder.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Banks</span>
												<div class="meta">Drawn on 3 Mar</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6 mr-auto">
						<div class="card card-plain text-center">
							<div class="card-image">
								<a href="#paper-kit">
									<img src="./assets/img/sections/anders-jilden.jpg" alt="Rounded Image" class="img-rounded img-responsive">
								</a>
								<div class="card-body details-center">
									<a href="#paper-kit">
										<div class="author">
											<img src="./assets/img/faces/erik-lucatero-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
											<div class="text">
												<span class="name">Tom Hanks</span>
												<div class="meta">Drawn on 23 Jan</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center ml-auto mr-auto">
                        <div class="preloader">
                            <div class='uil-reload-css' style=''><div></div></div> <h5>Loading More  </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="features-5 section-image" style="background-image: url('assets/img/sections/the-how-photographer.jpg')">
	<div class="container">
		<div class="row">
			<div class="ml-auto mr-auto">
				<h2 class="title text-center">Asesoramos tu vida</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5 ml-auto">
				<div class="info">
					<div class="icon">
						<i class="nc-icon nc-atom" aria-hidden="true"></i>
					</div>
					<h4 class="title">Para emplreados</h4>
					<p>While everyone technically has the feature now, that doesn’t mean you’ll see it all the time. But in this case, the feature wasn’t just randomly A/B tested.</p>
				</div>
			</div>

			<div class="col-sm-5 mr-auto">
				<div class="info">
					<div class="icon">
						<i class="nc-icon nc-ruler-pencil" aria-hidden="true"></i>
					</div>
					<h4 class="title">Para comerciantes</h4>
					<p>Loveflutter has actually been around for a while, pivoting from matches based on shared interests (innovative!) to now focus on analyzing.</p>
				</div>
			</div>
		</div>

		<div class="row bottom-line">
			<div class="col-sm-5 ml-auto">
				<div class="info">
					<div class="icon">
						<i class="nc-icon nc-paper" aria-hidden="true"></i>
					</div>
					<h4 class="title">Para la familia</h4>
					<p>As for the user backlash, it comes to the challenges faces in building features to aid newcomers, which can impact its growth and bottom line.</p>
				</div>
			</div>

			<div class="col-sm-5 mr-auto">
				<div class="info">
					<div class="icon">
						<i class="nc-icon nc-time-alarm" aria-hidden="true"></i>
					</div>
					<h4 class="title">Para todos</h4>
					<p>The feature itself had been developed via experimental account, where it had tested how to better personalize its service to end users.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="footer footer-black">
	<div class="container">
		<div class="row">
				<div class="credits mr-auto">
					<div class="copyright">
				   <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy;  2019 All Rights Reserved by GL-Asociados</a><br   >
					<small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y Privacidad</a></small>

				</div>
				</div>
			<div class="credits ml-auto">
				<span class="copyright">
					© 2019 - Powered <i class="fa fa-eye heart"></i> by DME Digital
				</span>
			</div>
		</div>
	</div>
</footer>




