
<div class="features-5 section-image" style="background-image: url('assets/img/sections/the-how-photographer.jpg');background-size: cover">
	<div class="container">
		<div class="row">
			<div class="ml-auto mr-auto">
				<h2 class="title text-center">Nuestros Valores</h2>
			</div>
		</div>

		
        <div class="row"> 
                <h4><small>Giordano-Lerena Asociados</small></h4>

                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'">
                            <ngb-tab title="Misión" style="font-weight: bold ; color:white">
                                <ng-template ngbTabContent>
                                    <div class="tab-pane active" id="vision" role="tabpanel"><p>Brindamos una cobertura jurídica integral que contempla todos los puntos de interés del mismo, asesorando a nuestros clientes en aquellas áreas del derecho que serelacionen con su actividad.

										Tratamos de conseguir una visión global de la situación del cliente.
										
										Estudiamos exhaustivamente todos los problemas y le ayudamos a optar por el mejor camino, previendo los posibles efectos derivados de cada decisión, para evitar que un problema se transforme en otro más tarde.
										
										Vamos más allá de la solución a un problema determinado.</p></div> 
                                 </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Visión">
                                <ng-template ngbTabContent>
                                    <p>Encontrar para cada situación la mejor solución.
										
											Estudiamos exhaustivamente todos los problemas y le ayudamos a optar por el mejor camino, previendo los posibles efectos derivados de cada decisión, para evitar que un problema se transforme en otro más tarde.
											
											Vamos más allá de la solución a un problema determinado</p>
                                </ng-template>
                            </ngb-tab>
                          
                        </ngb-tabset>
                    </div>
                </div> 
        </div> 
 
	</div>
</div>

<footer class="footer footer-black">
	<div class="container">
		<div class="row">
				<div class="credits mr-auto">
					<div class="copyright">
				   <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy;  2019 All Rights Reserved by GL-Asociados</a><br   >
					<small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y Privacidad</a></small>

				</div>
				</div>
			<div class="credits ml-auto">
				<span class="copyright">
					© 2019 - Powered <i class="fa fa-eye heart"></i> by DME Digital
				</span>
			</div>
		</div>
	</div>
</footer>




