<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/sections/a4.jpg') ;">
        </div>
        <div class="filter"></div>
        <div class="content-center">
            <div class="motto">
                <!-- <h1 class="title-uppercase text-center">Derecho Civil</h1> -->
                <!-- <a href="javascrip: void(0);"><h2 class="title-uppercase text-center">Derecho Civil</h2></a>
                    <h3 class="text-center">Make your mark with a new design.</h3> -->
                <br />
                <!-- <a href="#pablo" class="btn btn-warning btn-round btn-lg">
                        <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
                    </a> -->
            </div>
        </div> 
    <!-- <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="button-container">
                            <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                                <i class="now-ui-icons text_align-left"></i> Read Article
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div>
</div>
<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="text-center">
              -->
            <a href="javascrip: void(0);">
                <h1 class="title">Derecho Civil</h1>
            </a> 
        </div>
    </div>  
<div class="features-3">
    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="container">
                            <h2 class="title">Your life will be much easier</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="icon icon-success">
                                    <i class="nc-icon nc-layout-11"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Components</h4>
                                    <p>The kit comes with a huge number of components designed to look perfect together.</p>
                                    <a href="#paper-kit" class="btn btn-link">See more</a>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-warning">
                                    <i class="nc-icon nc-palette"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Beautiful Gallery</h4>
                                    <p>Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
                                    <a href="#paper-kit" class="btn btn-link">See more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info info-horizontal">
                                <div class="icon icon-danger">
                                    <i class="nc-icon nc-touch-id"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Secured</h4>
                                    <p>Larger, yet dramatically thinner. More powerful, but remarkably power is efficient.</p>
                                    <a href="#paper-kit" class="btn btn-link">See more</a>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="nc-icon nc-delivery-fast"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Fast Prototyping</h4>
                                    <p>Medium has a new head of product, while the startup behind the defunct texting app...</p>
                                    <a href="#paper-kit" class="btn btn-link">See more</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 ml-auto">
                    <div class="iphone-container">
                        <img src="assets/img/sections/a3.jpg" style="height: 100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div> 

<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <div class="credits mr-auto">
                <div class="copyright">
                    <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos reservados -
                        GL Asociados</a><br>
                    <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y
                            Privacidad</a></small>

                </div>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
                </span>
            </div>
        </div>
    </div>
</footer> 