<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/sections/a4.jpg') ;">
        </div>
        <div class="filter"></div>
        <div class="content-center">
            <div class="motto">
                <!-- <h1 class="title-uppercase text-center">Derecho Civil</h1> -->
                <!-- <a href="javascrip: void(0);"><h2 class="title-uppercase text-center">Derecho Civil</h2></a>
                    <h3 class="text-center">Make your mark with a new design.</h3> -->
                <br />
                <!-- <a href="#pablo" class="btn btn-warning btn-round btn-lg">
                        <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
                    </a> -->
            </div>
        </div>
    </div>
    <!-- <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="button-container">
                            <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                                <i class="now-ui-icons text_align-left"></i> Read Article
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                                <i class="fa fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div> -->
</div>
<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="text-center">
            <!-- <span class="label label-warning main-tag">Trending</span>  -->
            <a href="javascrip: void(0);">
                <h1 class="title">Derecho Civil</h1>
            </a>

            <!-- <h6 class="title-uppercase">October 10, 2016</h6>  -->
        </div>
    </div>
    <div class="col-md-8 ml-auto mr-auto">
        <div class="article-content">
            <h6 class="title-uppercase">¿Que es el Derecho Civil?</h6>
            <p>
                El derecho civil es la rama del derecho que, en general, regula el estado civil de las personas, la
                propiedad y los demás derechos reales, las obligaciones y contratos, las relaciones de familia y las
                sucesiones, entre otros aspectos relativos a la vida ciudadana, de ahí su carácter de civil. El derecho
                civil tiene naturaleza privada.
            </p>

            <!-- <p>
                En otras palabras, el Derecho Civil es aquel que comprende la organización y el funcionamiento
                de toda forma de administración pública. Por extensión, suele ser también aplicable a la actuación
                materialmente administrativa de los demás poderes del Estado y de todos esos entes del sector público. Y
                todo ello, desde la doble perspectiva de procurar la eficacia de las Administraciones pero también
                garantizar los derechos de los particulares en sus relaciones con ellas.
            </p> -->
            <a>
                <div class="card" data-radius="none" style="background-image: url('./assets/img/sections/ci1.jpg');">
                </div>
                <p class="image-thumb text-center">Despcrion de foto opcional</p>
            </a>
            <blockquote class="blockquote">
                <p>"En tanto que en la vida privada los derechos y obligaciones se crean casi siempre por vía
                    contractual, la Administración debe, en interés del servicio público, poder imponer,
                    unilateralmente, sin necesidad de previo pronunciamiento judicial, obligaciones a los particulares,
                    y su decisión debe ser tenida como jurídicamente válida en tanto que el interesado no promueva su
                    anulación por el juez"</p>
                <footer>- Prosper Weil <cite title="Source Title"> Derecho Administrativo 1986, Civitas, pág.
                        50color.</cite></footer>
            </blockquote>
            <p>
                El derecho civil se divide en cuatro grandes ramas: la parte general (el derecho subjetivo en general,
                la nacionalidad, el domicilio, la adquisición y extinción de la personalidad civil), el derecho de
                obligaciones y contratos (responsabilidad contractual y extracontractual y régimen jurídico general y
                especial de las obligaciones y los contratos), los derechos reales (propiedad y posesión, derechos
                reales de goce, de adquisición preferente y de garantía, con especial atención al derecho hipotecario) y
                el derecho de familia y las sucesiones (regulación del matrimonio, relaciones entre los progenitores y
                los hijos, derecho de alimentos, herencias y distintos modos de suceder).
            </p>
            <div class="row">
                <div class="col-md-6">
                    <a href="javascrip: void(0);">
                        <div class="card " data-radius="none"
                            style="background-image: url('./assets/img/sections/ci2.jpg');">
                        </div> <!-- end card -->
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="javascrip: void(0);">
                        <div class="card" data-radius="none"
                            style="background-image: url('./assets/img/sections/ci3.jpg');"></div>
                    </a>
                </div>
            </div>
            <p>

            </p>
            <!-- <h6 class="title-uppercase">Características</h6> -->
            <h6>El derecho civil habitualmente comprende:</h6>
            <p>El derecho de las personas, que regula el inicio y fin de la existencia de las personas naturales, la
                capacidad jurídica, los atributos de la personalidad, es decir, los elementos que determinan las
                condiciones
                de cada individuo en su relación jurídica con los demás, tales como el estado civil, el domicilio o la
                nacionalidad, y los derechos personalísimos o de la personalidad, íntimamente ligados al ser humano
                desde
                que nace.</p>
            <p>El derecho de familia que regula las consecuencias jurídicas de las relaciones de familia, provenientes
                del
                matrimonio y del parentesco. Sin perjuicio, que parte de la doctrina la considera una rama autónoma del
                derecho.</p>
            <p> El derecho de cosas o de bienes, que regula lo que se conoce como derechos reales y, en general, las
                relaciones jurídicas de los individuos con los objetos o cosas, tales como la propiedad, los modos de
                adquirirla, la posesión y la mera tenencia.</p>
            <p> El derecho de sucesiones o sucesorio, que regula las consecuencias jurídicas que vienen determinadas por
                el
                fallecimiento de una persona física en lo relativo a la transferencia de sus bienes y derechos a
                terceros.
                El derecho de las obligaciones y los contratos, que regula los hechos, actos y negocios jurídicos, y sus
                consecuencias y efectos vinculantes.</p>
            <p>El derecho de la responsabilidad civil, que trata de la indemnización de daños y perjuicios causados a
                otros.</p>
            <p>Las normas de derecho civil internacional, que son aquellas normas de derecho internacional privado
                reguladoras de la ley civil aplicable ante un conflicto de leyes.</p>
            <p>Por último, también incluye normas genéricas aplicables a todas las ramas del derecho, como la aplicación
                e
                interpretación y de las normas jurídicas. Por esta última razón, el derecho civil recibe su denominación
                de
                "derecho común".</p>
            <!-- <p><strong>Get in the arena</strong>, show up, do your thing and don’t be afraid to get your ass kicked a little bit.</p>
                        <p>Who you are will always trump who you think people want you to be.</p>
                        <p><strong>You can’t control if someone loves you back.</strong> Love them anyway.</p> -->

            <!-- <h6><strong>¿Que ocurre en Argentina?</strong></h6> -->
            <!-- <p>El Derecho Civil argentino, al tratarse de un Estado federal, está regulado primordialmente por
                las normas de cada provincia. Por lo que sólo se hará referencia a la faz nacional del mismo, es decir,
                a las normas que involucran a la Administración pública nacional centralizada y descentralizada, a los
                entes autárquicos, a las sociedad y empresas del Estado, a las sociedades anónimas con participación
                estatal mayoritaria y a los entes de derecho público no estatales del ámbito federal.
            </p> -->
        </div>
        <blockquote class="blockquote">
            <p>¿Qué averiguar más sobre Derecho Civil? <a href=" https://es.wikipedia.org/wiki/Derecho_constitucional"
                    target="_blank" class="link-danger"> Ver Mas.</a></p>
        </blockquote>
    </div>
</div>
<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <div class="credits mr-auto">
                <div class="copyright">
                    <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos reservados -
                        GL Asociados</a><br>
                    <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y
                            Privacidad</a></small>

                </div>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
                </span>
            </div>
        </div>
    </div>
</footer>v