<div class="team-5 section-image" style="background-image: url('assets/img/sections/justicia4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Nosotros</h2>
                <h5 class="description">dedicado a la defensa de los derechos del trabajador. Nuestro Estudio se
                        conforma de profesionales altamente capacitados y estableciéndose en diversas áreas</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-img-top" (click)="open(Lucas, '')" id="lucas">
                                <a>
                                    <img class="img" src="assets/img/faces/Lucas.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body text-left">
                                <h4 class="card-title">Lucas Antonio Farías</h4>
                                <h6 class="card-category">Project Manager</h6>
                                <p class="card-description">
                                        Lucas Antonio Farias<br>
                                        Telefono (0351) 152568141<br>
                                        E-mail: <br> <a
                                            href="mailto:lucasantoniofarias@gmail.com">lucasantoniofarias@gmail.com</a>
                                </p>
                                <div class="card-footer">
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-facebook"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-img-top" (click)="open(Fernando2, '')" >
                                <a>
                                    <img class="img" src="assets/img/faces/fer.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body text-left">
                                <h4 class="card-title">Fernando Cesaretti</h4>
                                <h6 class="card-category">Abogado</h6>
                                <p class="card-description">
                                        Fernando Cesaretti<br>
                                        Teléfono: (3537) 667744 <br>
                                        E-mail: <br> <a href="fernandocesaretti0@gmail.com">fernandocesaretti0@gmail.com</a>
                                </p>
                                <div class="card-footer">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-facebook"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-linkedin"></i></a>>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top"(click)="open(Luis, '')">
                                    <a>
                                        <img class="img" src="assets/img/faces/clem-onojeghuo-2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">Luis Eduardo Martinez Golletti</h4>
                                    <h6 class="card-category">Abogado</h6>
                                    <p class="card-description">
                                            Luis Eduardo Martinez Golletti<br>
                                            Teléfono: (0351) 155-447787 <br>
                                            E-mail: <br> <a href="martinezg@arnet.com.ar">martinezg@arnet.com.ar</a>
                                    </p>
                                    <div class="card-footer">
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-twitter"></i></a>
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-facebook"></i></a>
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card-img-top" (click)="open(Rodrigo, '') ">
                                <a>
                                    <img class="img" src="assets/img/faces/clem-onojeghuo-3.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body text-left">
                                <h4 class="card-title">Rodigo Giordanolarena</h4>
                                <h6 class="card-category">Abogado</h6>
                                <p class="card-description">
                                        Rodigo Giordanolarena<br>
                                        Teléfono: (0351) 155-123456<br>
                                        E-mail: <br> <a href="rgiordanolerena@hotmail.com">rgiordanolerena@hotmail.com</a>
                                </p>
                                <div class="card-footer">
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-youtube"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="footer footer-black">
        <div class="container">
            <div class="row">
                <div class="credits mr-auto">
                    <div class="copyright">
                        <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 All Rights Reserved by
                            GL-Asociados</a><br>
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y
                                Privacidad</a></small>
                    </div>
                </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Powered <i class="fa fa-eye heart"></i> by DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer>