<div class="cd-section section-white" id="teams">

    <div class="team-5 section-image" style="background-image: url('assets/img/sections/martin-knize.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Nosotros</h2>
                    <h5 class="description">dedicado a la defensa de los derechos del trabajador. Nuestro Estudio se
                        conforma de profesionales altamente capacitados y estableciéndose en diversas áreas

                    </h5>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4" style="max-width: 25%;">
                    <div class="card card-profile card-plain">
                        <div class="card-body">
                            <div class="card-avatar" (click)="open(Notice, '')" id="lucas">
                                <a>
                                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" style="background-position-x: 3%"
                                        alt="...">
                                    <h4 class="card-title">Lucas Antonio Farías
                                    </h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                DNI: N°37.951.852<br>
                                Fecha de Nacimiento: <br>27 de Octubre de 1993<br>
                                E-mail: <br>lucasantoniofarias@gmail.com

                            </p>
                        </div>
                        <div class="card-footer text-center">

                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info btn-outline-default btn-just-icon"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="max-width: 25%;">
                    <div class="card card-profile card-plain">
                        <div class="card-body">
                            <div class="card-avatar" (click)="open(Notice, '')" id="Fernando">
                                <a>
                                    <img src="./assets/img/faces/fer.jpg" style="background-position-x: 3%" alt="...">
                                    <h4 class="card-title">Fernando Cesaretti
                                    </h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                Ciudad: Córdoba - Córdoba <br>
                                Teléfono: (3537) 667744 <br>
                                E-mail: <br>fernandocesaretti0@gmail.com
                                Código postal: 5000
                                MP: 1-39.675


                            </p>
                        </div>
                        <div class="card-footer text-center">

                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info btn-outline-default btn-just-icon"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="max-width: 25%;">
                    <div class="card card-profile card-plain">
                        <div class="card-body">
                            <div class="card-avatar" (click)="open(Notice, '')">
                                <a>
                                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" style="background-position-x: 3%"
                                        alt="...">
                                    <h4 class="card-title"> Luis Eduardo Martinez Golletti
                                    </h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                DNI: N°37.951.852<br>
                                Fecha de Nacimiento: <br>11 de noviembre de 1975<br>
                                E-mail: <br>martinezg@arnet.com.ar

                            </p>
                        </div>
                        <div class="card-footer text-center">

                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info btn-outline-default btn-just-icon"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="max-width: 25%;">
                    <div class="card card-profile card-plain">
                        <div class="card-body">
                            <div class="card-avatar" (click)="open(Notice, '')">
                                <a>
                                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" style="background-position-x: 3%"
                                        alt="...">
                                    <h4 class="card-title">Lucas Antonio Farías
                                    </h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                DNI: N°37.951.852<br>
                                Fecha de Nacimiento: <br>27 de Octubre de 1993<br>
                                E-mail: <br>lucasantoniofarias@gmail.com

                            </p>
                        </div>
                        <div class="card-footer text-center">

                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info btn-outline-default btn-just-icon"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-template #Notice let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title">Lucas Antonio Farias</h6>


        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="lucas">
        <div class="instruction">
            <div class="row">
                <!-- <div class="col-md-8"> -->
                <h6> DATOS PERSONALES</h6><br>

                <p> &nbsp;DNI N°37.951.852<br>

                    &nbsp;Fecha de Nacimiento: 27 de Octubre de 1993<br>

                    &nbsp;Estado Civil: Soltero<br>

                    &nbsp;Domicilio: Río Salado 687 – Villa Carlos Paz - Córdoba<br>

                    &nbsp;Matricula Profesional: 1-40050 C.S.J.N. T°507 F°865<br>

                    &nbsp;Celular: (0351) 152568141<br>

                    &nbsp;E-mail: <a href="lucasantoniofarias@gmail.com">lucasantoniofarias@gmail.com</a>. <br></p>
                <!-- </div> -->
                <!-- <div class="col-md-4">
                    <div class="picture">
                        <img src="assets/img/sections/angelo-pantazis.jpg" alt="Thumbnail Image"  class="img-rounded img-responsive">
                    </div>
                </div> -->
            </div>
            <div class="row">
                <!-- <div class="col-md-8"> -->
                <h6> OCUPACION PROFESIONAL </h6><br>

                <p>&nbsp;• SOCIO ABOGADO en ESTUDIO JURIDICO GIORDANO LERENA & ASOCIADOS

                    &nbsp;Corro 245 – Piso 8° - Of. “C” – Córdoba Capital

                    &nbsp;Tel./Fax: (0351) 4262954 – <a href="estudiogiordanolerena@gmail.com">
                        estudiogiordanolerena@gmail.com</a> </p>

                <!-- <div class="col-md-4">
                        <div class="picture">
                            <img src="assets/img/sections/angelo-pantazis.jpg" alt="Thumbnail Image"  class="img-rounded img-responsive">
                        </div>
                    </div> -->
            </div>
            <div class="row">
                <!-- <div class="col-md-8"> -->
                <h6> ACADEMICA</h6><br>

                <p> &nbsp;• BACHILLER ORIENTADO EN ECONOMIA Y GESTION DE LAS

                    ORGANIZACIONES, ESPECIALIDAD EN GESTION ADMINISTRATIVA

                    Instituto de Enseñanza Secundaria Superior - I.E.S.S.

                    (2006-2011)</p>

                <p> &nbsp;• ABOGADO

                    Facultad de Derecho

                    Universidad Nacional de Córdoba – U.N.C.

                    (2012 – 2016)</p>

                <p> &nbsp;• ESPECIALISTA EN DERECHO PROCESAL

                    Facultad de Derecho – Secretaria de Posgrado

                    Universidad Nacional de Córdoba – U.N.C.

                    (2017 /En curso) Cohorte XIII</p>
                <p> &nbsp;• ADSCRIPTO en TEORIAS GENERALES DEL PROCESO - CATEDRA “A”

                    Departamento de Derecho Procesal

                    Facultad de Derecho

                    Universidad Nacional de Córdoba – U.N.C.

                    (Desde 2017 / actualidad)</p>

                <br>
                <!-- <div class="col-md-4">
                            <div class="picture">
                                <img src="assets/img/sections/angelo-pantazis.jpg" alt="Thumbnail Image"  class="img-rounded img-responsive">
                            </div>
                        </div> -->
            </div>
            <div class="row">
                <!-- <div class="col-md-8"> -->
                <h6>CURSOS</h6>
                <br>
                <p> &nbsp;• “Jornadas Preparatorias Del XXIX Congreso Nacional De Derecho

                    Procesal” “El Derecho Procesal como un Camino hacia la Paz Social”

                    (Termas de Río Hondo, Provincia de Santiago del Estero, 14, 15 y 16 de

                    septiembre de 2017)

                    ASISTENTE, COLABORADOR Y PONENTE CON DISTINCION
                    18 DE MAYO DE 2017

                    Facultad de Derecho – Secretaria de Posgrado

                    Universidad Nacional de Córdoba – (UNC)</p>

                <p> &nbsp;• “Ateneo Permanente De Derecho Procesal 2017” en pos de Solidaridad

                    Académica, camino al Centenario de la Reforma Universitaria (15 de

                    Junio de 1918-2018)
                    COORDINADOR ADSCRIPTO DEL EQUIPO DE ESTUDIO DE TGP

                    17 DE JUNIO DE 2017

                    Facultad de Derecho y Ciencias Sociales

                    Universidad Nacional de Córdoba (UNC)</p>

                <p> &nbsp;• “XV Jornadas Argentinas De Derecho Procesal Constitucional”

                    ASISTENTE Y PONENTE

                    10 Y 11 DE AGOSTO DE 2017

                    Facultad de Derecho

                    Universidad de Buenos Aires – U.B.A.</p>

                <p> &nbsp;• “Jornada De Análisis Y Reflexión Del Proyecto De Reforma Procesal En

                    La Provincia De Córdoba”

                    ASISTENTE

                    11 DE ABRIL DE 2018

                    Facultad de Derecho y Cs Ss. – Secretaria de Graduados

                    Universidad Nacional de Córdoba (UNC</p>

                <p> &nbsp;•“Ateneo Permanente De Derecho Procesal 2018” en pos de Solidaridad

                    Académica, dedicado al Centenario de la Reforma Universitaria (15 de

                    Junio de 1918-2018)

                    COLABORADOR EJECUTIVO, COORDINADOR ADSCRIPTO DISTINGUIDO CON PRIMER PREMIO DE EQUIPO COMPARTIDO EN
                    T.G.P.

                    15 DE MAYO DE 2018

                    Facultad de Derecho y Ciencias Sociales

                    Universidad Nacional de Córdoba (UNC)</p>

                <p> &nbsp;•“Jornada Por El Mes Internacional Del Cuidado De La Fertilidad”

                    DISERTANTE

                    01 DE JUNIO DE 2018

                    Hospital Universitario de Maternidad y Neonatología HUMN

                    Facultad de Medicina Universidad Nacional de Córdoba – (UNC)</p>
                <!-- </div> -->
                <!-- <div class="col-md-4">
                                <div class="picture">
                                    <img src="assets/img/sections/angelo-pantazis.jpg" alt="Thumbnail Image"  class="img-rounded img-responsive">
                                </div>
                            </div> -->
            </div>
        </div>
        <!-- <div class="instruction">
            <div class="row">
                <div class="col-md-8">
                    <p> <strong>2. Apply</strong> - the first step is to create an account at <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>
                </div>
                <div class="col-md-4">
                    <div class="picture">
                        <img src="assets/img/sections/rawpixel-coms.jpg" alt="Thumbnail Image"  class="img-rounded img-responsive">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <p>If you have more questions, don't hesitate to contact us or send us a tweet @creativetim. We're here to help!</p> -->
    </div>
</ng-template>
    
<!-- <ng-template #Notice let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6 class="modal-title">Lucas Antonio Farias</h6>


        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<div class="modal-body" id="Fernando">
    <div class="instruction">
        <div class="row">

            <h6> DATOS PERSONALES</h6><br>

            <p> &nbsp;Domicilio: San Lorenzo 298 3º “A”<br>

                &nbsp;Ciudad: Córdoba - Córdoba <br>

                &nbsp;Teléfono: (3537) 667744 <br>

                &nbsp;Código postal: 5000<br>

                &nbsp;MP: 1-39.675<br>

                &nbsp;E-mail: <a href="fernandocesaretti0@gmail.com">fernandocesaretti0@gmail.com</a>. <br></p>

        </div>
        <div class="row">
            <h6> OCUPACION PROFESIONAL </h6><br>

            <p>&nbsp;• SOCIO ABOGADO en ESTUDIO JURIDICO GIORDANO LERENA & ASOCIADOS

                &nbsp;Corro 245 – Piso 8° - Of. “C” – Córdoba Capital

                &nbsp;Tel./Fax: (0351) 4262954 – <a href="estudiogiordanolerena@gmail.com">
                    estudiogiordanolerena@gmail.com</a> </p>


        </div>
        <div class="row">
            <h6> Formacion Universitaria</h6><br>

            <p> &nbsp;• Abogado Universidad Nacional de Córdoba 2009 – 2014.  (completa en 6 años, promedio Gral. 8,29) .</p>

            <p> &nbsp;• Notariado Universidad Empresarial Siglo XXI (completa en 1 año, promedio Gral. 9,38) Córdoba 2015.</p>

            <p> &nbsp;• Adscripto  de la Cátedra de Derecho Procesal Constitucional Universidad Nacional de Córdoba, Facultad de Derecho (conforme resolución de Secretaria Académica  Nº ciento noventa y cinco (195) del año 2017 (en curso).</p>
            <p> &nbsp;• Diplomatura de Posgrado en Derecho de la Seguridad Social y del Trabajo Universidad Nacional de Córdoba, Facultad de Derecho 2017 - 2018 (Finalizada).</p>

            <br>
        </div>
        <div class="row">
            <h6> 
                Formación Secundaria 
                </h6><br>

            <p> &nbsp;• Bachiller orientado en Economía y gestión de las organizaciones, con especialidad en gestión administrativa.
                Instituto Privado Dalmacio Vélez Sarsfield – Justiniano Posse , egresado 	en año 2008.
            </p>
            <br>
        </div>
        <div class="row">
            <h6>Experiencias laboral</h6>
            <br>
            <p> &nbsp;•	Asociado
                Estudio Giordano Lerena y Asociados (Córdoba, Argentina)
                03/02/2016 - a la Actualidad. Actividades desempeñadas : encargado en la formulación de demandas,  procuración de expedientes e interposición de recursos.
                Referencia/ Contacto: Rodrigo Giordano Lerena Tel: 351(15)5737428</p>

            <p> &nbsp;•	Auxiliar administrativo
                Semina S.A. (Justiniano Posse, Argentina)
                20/10/2016 - a la Actualidad. Encargado en la presentación de los estados contables y asambleas, por ante Inspección General de Personas Jurídicas.
                    
                Referencia/ Contacto: Juan José Cesaretti (Presidente) tel:3537(15)595100.
                </p>
        </div>
        <div class="row">
            <h6>Idiomas</h6>
            <br>
            <p> &nbsp;Inglés <br> </p>

              <p>  •	Conversación: Nivel intermedio <br>
                •	Lectura: Nivel intermedio <br>
                •	Escritura: Nivel intermedio  <br>
                </p>

            <p> &nbsp;Portugués <br></p>

              <p>  •	Conversación: Nivel básico <br>
                •	Lectura: Nivel básico <br>
                •	Escritura: Nivel básico <br>
                
</p>
        </div>
        <div class="row">
            <h6>Ponencias</h6>
            <br>
            <p> &nbsp;XV Jornadas Argentinas De Derecho Procesal Constitucional<br>

                •Facultad de Derecho de la  Universidad de Buenos Aires – U.B.A
                10/08/2017 y 11/08/2017. En calidad de  Asistente y Ponente.
                <br>
                </p>

                <br>
                <p> &nbsp;Jornada Por el Mes Internacionales del Cuidado de la Fertilidad<br>

                    Faculta de Ciencias Medicas de la Universidad Nacional de Córdoba IIº Cátedra de la Clínica Ginecológica - Instituto Universitario de Medicina Fertilidad.
01/06/2018. En calidad de Disertante.

                    <br>
                    </p>
                
        </div>
        <div class="row">
            <h6> Formación Complementaria </h6><br>
            <p>Curso de dactilografía </p>
            <p> &nbsp;•Academia Santo Domingo – Córdoba 
                11/03/2015 – 12/05/2015. Duración  diecinueve (19) horas  
                El curso es un tutorial que tiene por objeto perfeccionar el arte de la escritura por computador sin la necesidad de observar el monitor. 
                </p><br>
            <p>Curso de Office avanzado </p>
            <p> &nbsp;•Academia Santo Domingo – Córdoba 
                02/03/2015 – 15/06/2015. Duración cuarenta y ocho (48) horas 
                El curso permite el mejor manejo de herramientas informáticas. </p><br>
                    <p>Taller Practico de Derecho Aeronáutico</p>
            <p> &nbsp;•Universidad Nacional de Córdoba - Facultad de Derecho y Ciencias 	Sociales - Derecho de la Navegación, Transporte y Comunicaciones.
                        22/09/2014.Duracion siete (7) horas cátedras. En calidad de asistente.</p><br>
            <br>
            <p>Curso Escuela de práctica Jurídica "Procedimiento de 	Sucesiones"</p>
            <p> &nbsp;Colegio de Abogados de Córdoba - Escuela de Práctica Jurídica.
                01/03/2017-01/07/2017. Duración veintiocho(28) horas cátedras.
                En calidad de asistente.
            </p><br>
            <br>
            <p>Curso Escuela de práctica Jurídica "Procedimiento Societario"</p>
            <p> &nbsp;Colegio de Abogados de Córdoba - Escuela de Práctica Jurídica.
                01/03/2018-01/07/2017. Duración veintiocho(28) horas cátedras.
                    En calidad de asistente.
                
            </p><br>
            <br>
            <p>Seminario "Autonomía de la voluntad en las relaciones de jurídicas familiares"</p>
            <p> &nbsp;Facultad de Derecho de la Universidad Nacional de Córdoba - Centro de Investigaciones Jurídicas y Sociales.
                02/05/2017. Duración dos (2) horas de cursado.
                En calidad de asistente.
                
            </p><br>
            <br>
            <p>Curso "Aprendiendo a invertir en la bolsa. Aspectos jurídicos y contables"</p>
            <p> &nbsp;Colegio de Abogados de Córdoba - Sala de derecho corporativo y financiero del instituto de estudios juridicos
                15/04/2018 -16/05/2018. Duracion ocho (8) horas.
                En calidad de asistente.
                
            </p><br>
            <br>
            
        </div>
        <div class="row">
            <h6> 
                Habilidades específicas
                </h6><br>
                <p> &nbsp; •Uso de diferentes navegadores informáticos (Windows, Linux, etc.), así como de sus diferentes versiones (Windows xp, vista, 8,etc.). </p><br>
                <p> &nbsp; •Interpretación de balances, libros diarios u otros instrumentos contables.  </p><br>
                <p> &nbsp; •Contratación rural en general.</p><br>
            <br>
        </div>
    </div>
    
</div>


</ng-template> -->

<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <div class="credits mr-auto">
                <div class="copyright">
                    <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 All Rights Reserved by
                        GL-Asociados</a><br>
                    <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y
                            Privacidad</a></small>
                </div>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2019 - Powered <i class="fa fa-eye heart"></i> by DME Digital
                </span>
            </div>
        </div>
    </div>
</footer>