<div class="cd-section section-white" id="teams">

    <div class="team-5 section-image" style="background-image: url('assets/img/sections/martin-knize.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Nosotros</h2>
                    <h5 class="description">((parrafo para añadir descripcion / introducción a sección nosotros))</h5>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4" style="max-width: 25%;">
                    <div class="card card-profile card-plain">
                        <div class="card-body">
                            <div class="card-avatar" (click)="open(Notice, '')">
                                <a>
                                    <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="...">
                                    <h4 class="card-title">Eric Thomson</h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion </p>
                        </div>
                        <div class="card-footer text-center">

                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info btn-outline-default btn-just-icon"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="max-width: 25%;">
                    <div class="card card-profile card-plain">
                        <div class="card-body">
                            <div class="card-avatar">
                                <a href="#avatar">
                                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="...">
                                    <h4 class="card-title">Sophia West</h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info btn-outline-default btn-just-icon"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" style="max-width: 25%;">
                    <div class="card card-profile card-plain">
                        <div class="card-body">
                            <div class="card-avatar">
                                <a href="#avatar">
                                    <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="...">
                                    <h4 class="card-title">Lucas Andrew</h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion </p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info btn-outline-default btn-just-icon"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="max-width: 25%;">
                    <div class="card card-profile card-plain">
                        <div class="card-body" >
                            <div class="card-avatar">
                                <a href="#avatar">
                                    <img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="...">
                                    <h4 class="card-title">Lucas Andrew</h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion
                                parrafo para añadir descripcion </p>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-linkedin"
                                    aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-info btn-outline-default btn-just-icon"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="btn btn-info btn-outline-default btn-just-icon"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-round" (click)="open(Notice, '')">
    Notice modal
</button>
<ng-template #Notice let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">How Do You Become an Affiliate?</h5>
        <button type="button" class="close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="instruction">
            <div class="row">
                <div class="col-md-8">
                    <p> <strong>1. Register</strong> - the first step is to create an account at <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>
                </div>
                <div class="col-md-4">
                    <div class="picture">
                        <img src="assets/img/sections/angelo-pantazis.jpg" alt="Thumbnail Image"  class="img-rounded img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="instruction">
            <div class="row">
                <div class="col-md-8">
                    <p> <strong>2. Apply</strong> - the first step is to create an account at <a href="https://www.creative-tim.com/">Creative Tim</a>. You can choose a social network or go for the classic version, whatever works best for you.</p>
                </div>
                <div class="col-md-4">
                    <div class="picture">
                        <img src="assets/img/sections/rawpixel-coms.jpg" alt="Thumbnail Image"  class="img-rounded img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <p>If you have more questions, don't hesitate to contact us or send us a tweet @creativetim. We're here to help!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-link" (click)="c('Close click')">Okay</button>
    </div>
</ng-template>

<footer class="footer footer-black">
    <div class="container">
        <div class="row">
            <div class="credits mr-auto">
                <div class="copyright">
                    <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 All Rights Reserved by
                        GL-Asociados</a><br>
                    <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y
                            Privacidad</a></small>
                </div>
            </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © 2019 - Powered <i class="fa fa-eye heart"></i> by DME Digital
                </span>
            </div>
        </div>
    </div>
</footer>