<div class="wrapper">
    <div class="page-header page-header-xs">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/sections/sas.jpg') ;">
        </div>
        <div class="filter"></div>
        <div class="content-center">
            <div class="motto">
                <!-- <h1 class="title-uppercase text-center">Derecho Civil</h1> -->
                <!-- <a href="javascrip: void(0);"><h2 class="title-uppercase text-center">Derecho Civil</h2></a>
                        <h3 class="text-center">Make your mark with a new design.</h3> -->
                <br />
                <!-- <a href="#pablo" class="btn btn-warning btn-round btn-lg">
                            <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
                        </a> -->
            </div>
        </div>
        <!-- <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="button-container">
                                <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                                    <i class="now-ui-icons text_align-left"></i> Read Article
                                </a>
                                <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                                    <i class="fa fa-google"></i>
                                </a>
                            </div>
                        </div>
                    </div>
    </div>
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="text-center">
                  -->
        <!-- <a href="javascrip: void(0);">
                <h1 class="title">Derecho Civil</h1>
            </a>
        </div> -->
    </div>
    <div class="features-30" style="padding:0px">
        <div class="container col-md-12">
            <div class="row">

                <div class="col-md-6 ml-auto" style="
                    overflow: scroll !important;
                    overflow: hidden;
                    max-height: 28.6em; /* (Number of lines you want visible) * (line-height) */
                    line-height: 1.2em;
                    text-align:justify;
                    ">
                    <div class="article-content">
                        <h2 class="title-uppercase">Estudios Asociados</h2>
                        <hr style="height: 10px; background-color: #683a12;width: 100%;">
 
                        <p>
                           • Estudio Jurídico Majul - Giordano Lerena – Vila & Asociados
                            (Rosario – Mendoza – San Luís -Tucumán – Salta -Jujuy)</p>
                            <p> • Estudio Jurídico Ferreira – Majul - Torres
                                (Capital Federal)</p>
                            <p> •Estudio Jurídico Porto – Giordano Lerena
                                (San Juan)</p>
                            <p> •Estudio Jurídico Jamiolkowski & Asociados
                                (La Rioja- Catamarca)</p>
                            <p> •Estudio Jurídico Benitez Maurel & Asociados
                                (Chaco – Corrientes – Misiones - Formosa)</p>
                            <p> • Estudio Jurídico Ahuad - Giordano Lerena & Asociados
                                (Santiago del Estero)</p>
                            <h3 style="font-weight: bold">CONFIAN EN NOSOTROS:</h3>
                            <p style="font-weight: bold"> • PROVINCIA ART </p>
                            <p style="font-weight: bold"> • BANCO DE TRABAJO </p>
                            <p style="font-weight: bold"> • C.M.R. FALABELLA </p>
                            <p style="font-weight: bold"> • ESTUDIO SALVAT </p>
                            <p style="font-weight: bold">• FALABELLA </p>
                            <p style="font-weight: bold"> • FUNDACION SALVAT </p>
                            <p style="font-weight: bold"> • G&B CONSULTING </p>
                            <p style="font-weight: bold"> • SANCHEZ HUERTA
                                <p style="font-weight: bold"> • PROGROUP CONSULTING
                                </p>


                    </div>



                </div>

                <div class="page-header page-header-xs col-md-5"
                style="background-color:rgba(255, 255, 255, 0) ;background-image: url('assets/img/sections/ad2.jpg') ; background-size:cover ; position:unset">          
               

            </div>
                <!-- <div class="col-md-5 ml-auto mr-auto" style=" background: url('assets/img/sections/ad3.jpg'); background-size: cover"> -->
                <!-- <div class="container">
                        <img src="assets/img/sections/a1.jpg" 
                            style="background-size:cover ;height: 450px ;width: 500px !important;padding-top: 7%" />
                    </div>  -->
                <!-- <blockquote class="blockquote">
                            <p>"En tanto que en la vida privada los derechos y obligaciones se crean casi siempre por vía
                                contractual, la Administración debe, en interés del servicio público, poder imponer,
                                unilateralmente, sin necesidad de previo pronunciamiento judicial, obligaciones a los
                                particulares,
                                y su decisión debe ser tenida como jurídicamente válida en tanto que el interesado no
                                promueva su
                                anulación por el juez"</p>
                            <footer>- Prosper Weil <cite title="Source Title"> Derecho Administrativo 1986, Civitas, pág.
                                    50color.</cite></footer>
                        </blockquote> -->
                <!-- </div> -->

            </div>
        </div>

    </div>



    <footer class="footer footer-black">
        <div class="container">
                <div class="row justify-content-center">
                <div class="credits mr-auto">
                    <div class="copyright">
                        <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy; 2019 - Todos los derechos
                            reservados -
                            GL Asociados</a><br>
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica
                                y
                                Privacidad</a></small>

                    </div>
                </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Desarrollado por <i class="fa fa-eye heart"></i> DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer>