<div class="page-header" style="background-image: url('./assets/img/sections/a2.jpg') ; background-size: cover">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container text-center">
            <h1 style="font-weight: bold">Destacados</h1>
            <h3>Fallos destacados de nuestro equipo de trabajo</h3>
        </div>
    </div>
</div> 
    <div class="section latest-offers">
          <div class="container">
 

            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-hover-effect">
                                <div class="card-body">
                                    <iframe width="1080" height="500" src="http://www.perfil.com/noticias/cordoba/la-justicia-de-cordoba-tiene-que-expedirse-sobre-casos-de-vientre-subrogado.phtml" frameborder="0" allowfullscreen></iframe> 
                                </div>
                            </div>
                        </div> 
                    
                    </div>
                </div>
            </div> 
    
<div class="separator"> </div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-hover-effect">
                    <div class="card-body">
                        <iframe width="1080" height="500" src="http://www.lavoz.com.ar/ciudadanos/la-maternidad-subrogada-recibio-su-primer-aval-de-la-justicia-en-cordoba" frameborder="0" allowfullscreen></iframe> 
                    </div>
                </div>
            </div> 
        
        </div>
    </div>
</div>  

<div class="separator"> </div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-hover-effect">
                    <div class="card-body">
                        <iframe width="1080" height="500" src="http://turello.com.ar/multimedia/gestacion-sustitucion-argentina/" frameborder="0" allowfullscreen></iframe> 
                    </div>
                </div>
            </div> 
        
        </div>
    </div>
</div> 

<div class="separator"> </div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-hover-effect">
                    <div class="card-body">
                        <iframe width="1080" height="500" src="https://www.cadena3.com/noticias/sociedad/autorizan-cordoba-primer-caso-maternidad-subrogada_26435" frameborder="0" allowfullscreen></iframe> 
                    </div>
                </div>
            </div> 
        
        </div>
    </div>
</div> 

</div>
</div> 
<div class="blog-5">
    <div class="container">
        <h2 class="title text-center">Fallos destacados</h2>
        <div class="row">
            <div class="col-md-7">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not1.jpg')">
                    <div class="card-body">
                          <!-- <h6 class="card-category">
                          <i class="fa fa-newspaper-o"></i> Lifestyle</h6> -->
                        <a href="#pablo">
                            <h4 class="card-title">La Justicia de Córdoba tiene que expedirse sobre casos de vientre subrogado</h4>
                        </a>
                        <p class="card-description">
                            Un pedido se presentó en la ciudad de Córdoba y otro en Bell Ville. Solicitan autorización para que dos mujeres externas a ambas parejas sean las gestantes de los bebés.
                        </p>
                        <!-- <div class="card-footer">
                            <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/joe-gardner-2.jpg" alt="..." class="avatar img-raised">
                                   <span>Lynne Barrett</span>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not2.jpg')">
                    <div class="card-body">
                        <!-- <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Media</h6> -->
                        <a href="#pablo">
                            <h4 class="card-title">La maternidad subrogada recibió su primer aval de la Justicia en Córdoba</h4>
                        </a>
                        <p class="card-description">
                            Gabriel Tavip, juez de Familia, homologó el acuerdo de un matrimonio heterosexual con una mujer con parentesco político. El bebé será inscripto como hijo de los cónyuges. Es el primer caso en el país en que una pareja logra la autorización antes de iniciar el tratamiento.
                        </p>
                        <!-- <div class="card-footer">
                            <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/erik-lucatero-2.jpg" alt="..." class="avatar img-raised">
                                   <span>Eric J Barnes</span>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not3(2).jpg')">
                    <div class="card-body">
                        <!-- <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Development</h6> -->
                        <a href="#pablo">
                            <h4 class="card-title">¿Gestación por sustitución en la Argentina?</h4>
                        </a>
                        <p class="card-description">
                            ¿Esta permitida?
                        </p>
                        <!-- <div class="card-footer">
                            <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Robert Brandon</span>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
                <div class="col-md-6">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not4.jpg')">
                    <div class="card-body">
                        <!-- <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Development</h6> -->
                        <a href="#pablo">
                            <h4 class="card-title">Autorizan en Córdoba el primer caso de maternidad subrogada</h4>
                        </a>
                        <p class="card-description">
                            El juez de Familia Eugenio Tavip explicó a Cadena 3 que el bebé podrá ser inscripto como propio de la pareja. La mujer que lo gestará es cuñada de la solicitante.
                        </p>
                        <!-- <div class="card-footer">
                            <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Robert Brandon</span>
                                </a>
                            </div> 
                        </div>-->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>


<div class="separator"> </div>
    <footer class="footer footer-black">
        <div class="container">
            <div class="row">
                    <div class="credits mr-auto">
                        <div class="copyright">
                       <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy;  2019 All Rights Reserved by GL-Asociados</a><br   >
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y Privacidad</a></small>
    
                    </div>
                    </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Powered <i class="fa fa-eye heart"></i> by DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer> 