<div class="page-header" style="background-image: url('./assets/img/sections/a2.jpg') ; background-size: cover">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container text-center">
            <h1 style="font-weight: bold">Destacados</h1>
            <h3>Fallos destacados de nuestro equipo de trabajo</h3>
        </div>
    </div>
</div> 
    <div class="section latest-offers">
          <div class="container">
 

            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-hover-effect">
                                <div class="card-body">
                                    <iframe width="1080" height="500" src="http://www.perfil.com/noticias/cordoba/la-justicia-de-cordoba-tiene-que-expedirse-sobre-casos-de-vientre-subrogado.phtml" frameborder="0" allowfullscreen></iframe> 
                                </div>
                            </div>
                        </div> 
                    
                    </div>
                </div>
            </div> 
    
<div class="separator"> </div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-hover-effect">
                    <div class="card-body">
                        <iframe width="1080" height="500" src="http://www.lavoz.com.ar/ciudadanos/la-maternidad-subrogada-recibio-su-primer-aval-de-la-justicia-en-cordoba" frameborder="0" allowfullscreen></iframe> 
                    </div>
                </div>
            </div> 
        
        </div>
    </div>
</div>  

<div class="separator"> </div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-hover-effect">
                    <div class="card-body">
                        <iframe width="1080" height="500" src="http://turello.com.ar/multimedia/gestacion-sustitucion-argentina/" frameborder="0" allowfullscreen></iframe> 
                    </div>
                </div>
            </div> 
        
        </div>
    </div>
</div> 

<div class="separator"> </div>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-hover-effect">
                    <div class="card-body">
                        <iframe width="1080" height="500" src="https://www.cadena3.com/noticias/sociedad/autorizan-cordoba-primer-caso-maternidad-subrogada_26435" frameborder="0" allowfullscreen></iframe> 
                    </div>
                </div>
            </div> 
        
        </div>
    </div>
</div> 

</div>
</div> 

<div class="separator"> </div>
    <footer class="footer footer-black">
        <div class="container">
            <div class="row">
                    <div class="credits mr-auto">
                        <div class="copyright">
                       <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy;  2019 All Rights Reserved by GL-Asociados</a><br   >
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y Privacidad</a></small>
    
                    </div>
                    </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Powered <i class="fa fa-eye heart"></i> by DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer> 