<div class="page-header" style="background-image: url('./assets/img/sections/a2.jpg') ; background-size: cover">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container text-center">
            <h1 style="font-weight: bold ; margin-top:1px ; margin-bottom:1px">Fallos</h1>
            <h1 style="font-weight: bold ; margin-top:1px ; margin-bottom:1px">Destacados</h1>
            <h3>Nuestro equipo de trabajo</h3>
        </div>
    </div>
</div>
<div class="blog-5">
    <div class="container">
        <h2 class="title text-center">Fallos destacados</h2>
        <div class="row">
            <div class="col-md-7">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not1.jpg')">
                    <div class="card-body">
                          <!-- <h6 class="card-category">
                          <i class="fa fa-newspaper-o"></i> Lifestyle</h6> -->
                        <a href="#pablo">
                            <h4 class="card-title">La Justicia de Córdoba tiene que expedirse sobre casos de vientre subrogado</h4>
                        </a>
                        <p class="card-description">
                            Un pedido se presentó en la ciudad de Córdoba y otro en Bell Ville. Solicitan autorización para que dos mujeres externas a ambas parejas sean las gestantes de los bebés.
                        </p>
                        <a href="#"> <p class="card-footer">
                           Ver Más
                        </p></a>
                        <div class="card-footer text-left">
                            <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not2.jpg')">
                    <div class="card-body">
                        <!-- <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Media</h6> -->
                        <a href="#pablo">
                            <h4 class="card-title">La maternidad subrogada recibió su primer aval de la Justicia en Córdoba</h4>
                        </a>
                        <p class="card-description">
                            Gabriel Tavip, juez de Familia, homologó el acuerdo de un matrimonio heterosexual con una mujer con parentesco político. El bebé será inscripto como hijo de los cónyuges. Es el primer caso en el país en que una pareja logra la autorización antes de iniciar el tratamiento.
                        </p>
                        <a href="#"> <p class="card-footer">
                           Ver Más
                        </p></a>
                        <div class="card-footer text-left">
                            <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not3(2).jpg')">
                    <div class="card-body">
                        <!-- <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Development</h6> -->
                        <a href="#pablo">
                            <h4 class="card-title">¿Gestación por sustitución en la Argentina?</h4>
                        </a>
                        <p class="card-description">
                            ¿Esta permitida?
                        </p>   
                        <a href="#"> <p class="card-footer">
                           Ver Más
                        </p></a><br><br>
                        <div class="card-footer text-left">
                            <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
                <div class="col-md-6">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/not4.jpg')">
                    <div class="card-body">
                        <!-- <h6 class="card-category">
                            <i class="fa fa-newspaper-o"></i> Development</h6> -->
                        <a href="#pablo">
                            <h4 class="card-title">Autorizan en Córdoba el primer caso de maternidad subrogada</h4>
                        </a>
                        <p class="card-description">
                            El juez de Familia Eugenio Tavip explicó a Cadena 3 que el bebé podrá ser inscripto como propio de la pareja. La mujer que lo gestará es cuñada de la solicitante.
                        </p>
                        <a href="#"> <p class="card-footer">
                           Ver Más
                        </p></a>
                        <div class="card-footer text-left">
                            <div class="author">
                                <a href="#pablo">
                                   <img src="assets/img/faces/clem-onojeghuo-3.jpg" alt="..." class="avatar img-raised">
                                   <span>Rodrigo Giordano Lerena</span>
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>


<div class="separator"> </div>
    <footer class="footer footer-black">
        <div class="container">
            <div class="row">
                    <div class="credits mr-auto">
                        <div class="copyright">
                       <a href="https://dmedigital.com.ar">&nbsp; Copyrights &copy;  2019 All Rights Reserved by GL-Asociados</a><br   >
                        <small style="font-size:10px !important"><a href="#">Términos de uso </a> / <a href="#">Politica y Privacidad</a></small>
    
                    </div>
                    </div>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © 2019 - Powered <i class="fa fa-eye heart"></i> by DME Digital
                    </span>
                </div>
            </div>
        </div>
    </footer> 